<body>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<%= render 'admin/navigation' %>
<div id="wrapper">
  <!-- #wrapper -->
  <%= render 'admin/sidebar' %>

  <!--Body content-->
  <div id="content" class="page-content clearfix">
    <div class="contentwrapper">
      <!--Content wrapper-->
      <div class="heading">
        <!--  .heading-->
        <h3>Active Borrower Applications</h3>
        <div class="resBtnSearch">
          <a href="#"><span class="s16 icomoon-icon-search-3"></span></a>
        </div>

        <ul class="breadcrumb">
          <li>You are here:</li>
          <li>
            <a href="#" class="tip" title="back to dashboard">
              <i class="s16 icomoon-icon-screen-2"></i>
            </a>
                                <span class="divider">
                <i class="s16 icomoon-icon-arrow-right-3"></i>
            </span>
          </li>
          <li class="active">Blank Page</li>
        </ul>
      </div>
      <!-- End  / heading-->
      <!-- Start .row -->
      <div class="row">
        <div class="col-lg-6 col-md-12 sortable-layout">
          <!-- col-md-12 start here -->
          <div class="panel panel-default chart">
            <div class="panel-heading">
              <h4 class="panel-title">
                <i class="s16 icomoon-icon-bars"></i>
                <span>Loan Valume Metrics</span>
              </h4>
            </div>
            <div class="panel-body">
              <div class="simple-chart" style="height: 230px; width:100%;">
              </div>
            </div>
          </div>
          <!-- End .panel -->

        </div>
        <!-- col-md-12 end here -->
        <div class="col-lg-6 col-md-12 sortable-layout">
          <!-- col-lg-6 start here -->
          <div class="panel panel-default chart">
            <div class="panel-heading">
              <h4 class="panel-title">
                <i class="s16 icomoon-icon-bars"></i>
                <span>Real time applications</span>
              </h4>
            </div>
            <div class="panel-body">
              <div class="auto-update-chart" style="height: 230px;width:100%;">
              </div>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
      </div>
      <!-- End .row -->
      <div class="row">
        <div class="col-lg-12">
          <!-- col-lg-12 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Borrower Applications</h4>

              <div class="table-top-add-tools-btn">
                <a href="<%= add_active_path %>" class="btn btn-info mr5" type="button"><i class="fa fa-pencil"></i> Add</a>
                <div class="btn-group dropdown mr5">
                  <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button" aria-expanded="false">
                    <i class="fa fa-gears"></i> Tools
                    <span class="caret"></span>
                  </button>
                  <ul role="menu" class="dropdown-menu animated fadeIn" style="margin-left: -49px;">

                    <li>
                      <a href="#"><i class="fa fa-trash-o"></i> Delete</a>
                    </li>


                  </ul>
                </div>
              </div>

            </div>
            <div class="panel-body cstm-table">
              <table id="tabletools" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                  <th class="sort-n"><div class="checkbox-custom">
                    <input class="check-all" type="checkbox" id="masterCheck" value="option1">
                    <label for="masterCheck"></label>
                  </div></th>
                  <th>S/N</th>
                  <th>Name</th>
                  <th>ID Number</th>
                  <th>Amount Needed</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Lender Name</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                  <th></th>
                  <th>S/N</th>
                  <th>Name</th>
                  <th>ID Number</th>
                  <th>Amount Needed</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Lender Name</th>
                  <th>Actions</th>
                </tr>
                </tfoot>
                <tbody>
                <% @borrowers.each_with_index do |value, index| %>
                    <tr>
                      <td><div class="checkbox-custom">
                        <input id="check" class="check" type="checkbox" value="option<%= index %>">
                        <label for="check"></label>
                      </div></td>
                      <td><%= index %></td>
                      <td><%= value.loan.user.name %></td>
                      <td><%= value.id %></td>
                      <td><%= value.loan.amount %></td>
                      <td><%= value.loan.time %></td>
                      <td>05:00</td>
                      <td><%= value.user.name %></td>
                      <td>
                        <div class="table-btns">
                          <ul>
                            <!--<li><a href="javascript:void(0);" class="view-btn">View</a></li>-->
                            <li><a href="<%= borrowers_edit_active_path value.id %>" class="edt-btn">Edit</a></li>
                            <li><a href="<%= active_borrowers_delete_path value.id %>" class="dlt-btn">Delete</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End contentwrapper -->
  </div>
  <!-- End #content -->
  <div id="footer" class="clearfix sidebar-page right-sidebar-page">
    <!-- Start #footer  -->
    <p class="pull-left">
      Copyrights &copy; 2015 <a href="javascript:void(0);" class="color-blue strong" target="_blank">Cashmi</a> by The Bam Method Limited. All rights reserved.
    </p>
    <p class="pull-right">
      <a href="#" class="mr5">Terms of use</a>
      |
      <a href="#" class="ml5 mr25">Privacy police</a>
    </p>
  </div>
  <!-- End #footer  -->
</div>
<!-- / #wrapper -->
<!-- Back to top -->
<div id="back-to-top"><a href="#">Back to Top</a>
</div>
</body>