<body>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<%= render 'admin/navigation' %>
<div id="wrapper">
  <!-- #wrapper -->
  <%= render 'admin/sidebar' %>

  <!--Body content-->
  <div id="content" class="page-content clearfix">
    <div class="contentwrapper">
      <!--Content wrapper-->
      <div class="heading">
        <!--  .heading-->
        <h3>Confirmed Borrower Applications</h3>

        <div class="resBtnSearch">
          <a href="#"><span class="s16 icomoon-icon-search-3"></span></a>
        </div>

        <ul class="breadcrumb">
          <li>You are here:</li>
          <li>
            <a href="#" class="tip" title="back to dashboard">
              <i class="s16 icomoon-icon-screen-2"></i>
            </a>
                                <span class="divider">
                <i class="s16 icomoon-icon-arrow-right-3"></i>
            </span>
          </li>
          <li class="active">Blank Page</li>
        </ul>
      </div>
      <!-- End  / heading-->


      <!-- Start .row -->
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <!-- col-md-12 start here -->
          <div class="panel panel-default chart">
            <div class="panel-heading">
              <h4 class="panel-title">
                <i class="s16 icomoon-icon-bars"></i>
                <span>Loan Valume Metrics</span>
              </h4>
            </div>
            <div class="panel-body">
              <div class="simple-chart" style="height: 230px; width:100%;">
              </div>
            </div>
          </div>
          <!-- End .panel -->

        </div>
        <!-- col-md-12 end here -->
        <div class="col-lg-6 col-md-12">
          <!-- col-lg-6 start here -->
          <div class="panel panel-default chart">
            <div class="panel-heading">
              <h4 class="panel-title">
                <i class="s16 icomoon-icon-bars"></i>
                <span>Real time applications</span>
              </h4>
            </div>
            <div class="panel-body">
              <div class="auto-update-chart" style="height: 230px;width:100%;">
              </div>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
      </div>
      <!-- End .row -->

      <div class="row">
        <div class="col-lg-12">
          <!-- col-lg-12 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Borrower Applications</h4>

              <div class="table-top-add-tools-btn">
                <a class="btn btn-info mr5" href="<%= add_confirmed_path %>"><i class="fa fa-pencil"></i> Add</a>

                <div class="btn-group dropdown mr5">
                  <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button" aria-expanded="false">
                    <i class="fa fa-gears"></i> Tools
                    <span class="caret"></span>
                  </button>
                  <ul role="menu" class="dropdown-menu animated fadeIn" style="margin-left: -49px;">

                    <li>
                      <a href="#"><i class="fa fa-trash-o"></i> Delete</a>
                    </li>


                  </ul>
                </div>
              </div>

            </div>
            <div class="panel-body cstm-table valign">
              <table id="tabletools" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                  <th class="sort-n">
                    <div class="checkbox-custom">
                      <input class="check-all" type="checkbox" id="masterCheck" value="option1">
                      <label for="masterCheck"></label>
                    </div>
                  </th>
                  <th>S/N</th>
                  <th>Loan ID</th>
                  <th>Borrower ID</th>
                  <th>Borrower Name</th>
                  <th>Request Amount</th>
                  <th>Time</th>
                  <th>Lender ID</th>
                  <th>Lender Name</th>
                  <th>Return Amount</th>
                  <th>Per</th>
                  <th>Over Times</th>
                  <th>Bidded Time</th>
                  <th>Confirmed Time</th>
                  <th>EIR Rate</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                  <th></th>
                  <th>S/N</th>
                  <th>Loan ID</th>
                  <th>Borrower ID</th>
                  <th>Borrower Name</th>
                  <th>Request Amount</th>
                  <th>Time</th>
                  <th>Lender ID</th>
                  <th>Lender Name</th>
                  <th>Return Amount</th>
                  <th>Per</th>
                  <th>Over Times</th>
                  <th>Bidded Time</th>
                  <th>Confirmed Time</th>
                  <th>EIR Rate</th>
                  <th>Actions</th>
                </tr>
                </tfoot>
                <tbody>
                <% @borrowers.each_with_index do |value, index| %>
                    <tr>
                      <td>
                        <div class="checkbox-custom">
                          <input id="check" class="check" type="checkbox" value="option<%= index %>">
                          <label for="check"></label>
                        </div>
                      </td>
                      <td><%= index %></td>
                      <td><%= value.loan_id %></td>
                      <td><%= value.loan.borrower_id %></td>
                      <td><%= value.loan.user.name %></td>
                      <td><%= value.loan.amount %></td>
                      <td><%= value.loan.time %></td>
                      <td><%= value.lender_id %></td>
                      <td><%= value.user.name %></td>
                      <td><%= value.return_amount %></td>
                      <td><%= value.per %></td>
                      <td><%= value.over_times %></td>
                      <td><%= value.bidded_time %></td>
                      <td><%= value.confirmed_time %></td>
                      <td>00</td>
                      <td>
                        <div class="table-btns">
                          <ul>
                            <li><a href="<%= borrowers_edit_confirmed_path value.id %>" class="edt-btn">Edit</a></li>
                            <li><a href="<%= active_borrowers_delete_path value.id %>" class="dlt-btn">Delete</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
      </div>
      <!-- End .row -->

    </div>
    <!-- End contentwrapper -->
  </div>
  <!-- End #content -->
  <div id="footer" class="clearfix sidebar-page">
    <!-- Start #footer  -->
    <p class="pull-left">
      Copyrights &copy; 2015 <a href="javascript:void(0);" class="color-blue strong" target="_blank">Cashmi</a> by The
      Bam Method Limited. All rights reserved.
    </p>

    <p class="pull-right">
      <a href="#" class="mr5">Terms of use</a>
      |
      <a href="#" class="ml5 mr25">Privacy police</a>
    </p>
  </div>
  <!-- End #footer  -->
</div>
<!-- / #wrapper -->
<!-- Back to top -->
<div id="back-to-top"><a href="#">Back to Top</a>
</div>


<!--Style 2 Fade in scale modal -->
<div class="modal fade modal-style2" id="modal-style2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="mySmallModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <object width="100%" height="200" type="application/pdf" data="Files/IPA.pdf">

        </object>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- /.modal -->
<!--[if lt IE 9]>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</body>