<body>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<%= render 'admin/navigation' %>
<div id="wrapper">
  <!-- #wrapper -->
  <%= render 'admin/sidebar' %>

  <!--Body content-->
  <div id="content" class="page-content clearfix">
    <div class="contentwrapper">
      <!--Content wrapper-->
      <div class="heading">
        <!--  .heading-->
        <h3>Profile</h3>

        <div class="resBtnSearch">
          <a href="#"><span class="s16 icomoon-icon-search-3"></span></a>
        </div>

        <ul class="breadcrumb">
          <li>You are here:</li>
          <li>
            <a href="#" class="tip" title="back to dashboard">
              <i class="s16 icomoon-icon-screen-2"></i>
            </a>
                                <span class="divider">
                <i class="s16 icomoon-icon-arrow-right-3"></i>
            </span>
          </li>
          <li class="active">Blank Page</li>
        </ul>
      </div>
      <!-- End  / heading-->
      <!-- Start .row -->
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <!-- col-lg-4 start here -->
          <div class="panel panel-default">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Profile details</h4>
            </div>
            <div class="panel-body">
              <div class="row profile">
                <!-- Start .row -->
                <div class="col-md-4">
                  <div class="profile-avatar">
                    <%= image_tag "avatars/128.jpg" %>

                    <p class="mt10">
                      Online
                                                    <span class="device">
                                    <i class="fa fa-mobile s16"></i>
                                </span>
                    </p>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="profile-name">
                    <h3><%= @borrower.name %></h3>

                    <p class="job-title mb0"><i class="fa fa-building"></i><%= @borrower.job %></p>

                    <p class="balance">
                      IPA Total: <span>146$</span>
                    </p>
                    <a href="#" class="btn btn-primary btn-large mr10"> <i class="fa fa-envelope"></i> Send email</a>
                    <a href="#" class="btn btn-default btn-alt btn-large"> Send Ticket Message</a>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="contact-info bt">
                    <div class="row">
                      <!-- Start .row -->
                      <div class="col-md-4">
                        <dl class="mt20">
                          <dt class="text-muted">ID Number</dt>
                          <dd><%= @borrower.id %></dd>
                          <dt class="text-muted">NRIC/FIN</dt>
                          <dd><%= @borrower.nric %></dd>
                          <dt class="text-muted">Phone</dt>
                          <dd><%= @borrower.phone %></dd>
                          <dt class="text-muted">Job Title</dt>
                          <dd><%= @borrower.job %></dd>
                          <dt class="text-muted">Home</dt>
                          <dd><%= @borrower.is_home_rented == '0' ? 'Buy' : 'Rented' %></dd>
                          <dt class="text-muted">Salary/Mth</dt>
                          <dd><%= @borrower.salary_per_month %></dd>
                          <dt class="text-muted">Status</dt>
                          <dd><%= @borrower.status %></dd>
                        </dl>
                      </div>
                      <div class="col-md-8">
                        <dl class="mt20">
                          <dt class="text-muted">Name</dt>
                          <dd><%= @borrower.name %></dd>
                          <dt class="text-muted">Email</dt>
                          <dd><%= @borrower.email %></dd>
                          <dt class="text-muted">Address</dt>
                          <dd><%= @borrower.address %></dd>
                          <dt class="text-muted">Device</dt>
                          <dd><%= @borrower.device_type %></dd>
                          <dt class="text-muted">Number of Loans</dt>
                          <dd><%= @borrower.no_of_loans %></dd>
                          <dt class="text-muted">Bankrupt</dt>
                          <dd><%= @borrower.is_bankrupt %></dd>
                        </dl>
                      </div>
                    </div>
                    <!-- End .row -->
                  </div>
                </div>
                <div class="col-md-12">


                  <div class="profile-tags">
                    <h5 class="text-muted">Tags</h5>

                    <form role="form" class="form-horizontal mb15">
                      <input type="text" value="CEO, Worker" data-role="tagsinput">
                    </form>
                  </div>


                </div>
              </div>
              <!-- End .row -->
            </div>
          </div>
          <!-- End .panel -->

          <!-- End .panel -->
        </div>
        <!-- col-lg-4 end here -->
        <div class="col-lg-6 col-md-6 col-sm-12">
          <!-- col-lg-4 start here -->
          <div class="tabs mb20">
            <ul id="profileTab" class="nav nav-tabs">
              <li><a href="#overview" data-toggle="tab">Overview</a>
              </li>
              <li class="">
                <a href="#edit-profile" data-toggle="tab">Edit</a>
              </li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="overview">
                <h5>Activity feed</h5>
                <ul class="timeline timeline-icons">
                  <li>
                    <p>
                      <a href="#">Jonathan Smith</a> attached new <a href="#">file</a>
                      <span class="timeline-icon"><i class="fa fa-file-text-o"></i></span>
                      <span class="timeline-date">Dec 10, 22:00</span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <a href="#">Jonathan Smith</a> make <a href="#">3 comments</a>
                      <span class="timeline-icon"><i class="fa fa-comment"></i></span>
                      <span class="timeline-date">Dec 8, 13:35</span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <a href="#">Jonathan Smith</a> deposit 300$
                      <span class="timeline-icon"><i class="fa fa-money color-green"></i></span>
                      <span class="timeline-date">Dec 6, 10:17</span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <a href="#">Jonathan Smith</a> purchase <a href="#">3 items</a>
                      <span class="timeline-icon"><i class="fa fa-shopping-cart color-red"></i></span>
                      <span class="timeline-date">Dec 5, 04:36</span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <a href="#">1 support </a> request is received from <a href="#">Jonathan Smith</a>
                      <span class="timeline-icon"><i class="fa fa-life-ring color-gray-light"></i></span>
                      <span class="timeline-date">Dec 4, 18:40</span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <a href="#">12 settings </a> are changed from <a href="#">Jonathan Smith</a>
                      <span class="timeline-icon"><i class="glyphicon glyphicon-cog"></i></span>
                      <span class="timeline-date">Dec 3, 23:17</span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <a href="#">Jonathan Smith</a> change your photo
                      <span class="timeline-icon"><i class="icomoon-icon-image-2"></i></span>
                      <span class="timeline-date">Dec 2, 05:17</span>
                    </p>
                  </li>
                </ul>
                <a href="#" class="btn btn-default timeline-load-more-btn"><i class="fa fa-refresh"></i> Load more </a>
              </div>
              <div class="tab-pane fade pb0" id="edit-profile">
                <form class="form-horizontal group-border stripped" action="<%= borrowers_update_path %>" role="form">
                  <div class="form-group" hidden>
                    <label class="col-lg-3 control-label" for="">ID Number</label>

                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="idno" name="user[id]" value="<%= @borrower.id %>">
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">Name</label>

                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="lastname" name="user[name]" value="<%= @borrower.name %>">
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">NRIC/FIN</label>

                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="nric" name="user[nric]" value="<%= @borrower.nric %>">
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">Email</label>

                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="Email" name="user[email]" value="<%= @borrower.email %>">
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">Phone</label>

                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="phone" name="user[phone]" value="<%= @borrower.email %>">
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">Adress</label>

                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="address" name="user[address]" value="<%= @borrower.address %>">
                    </div>
                  </div>
                  <!-- End .form-group  -->


                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">Job Title</label>

                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="Job" name="user[job]" value="<%= @borrower.job %>">
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">Device</label>

                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="device" name="user[device_type]" value="<%= @borrower.device_type %>">
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">Home</label>

                    <div class="col-lg-9">
                      <div class="radio-custom radio-inline">
                        <input type="radio" name="user[is_home_rented]" value="1" id="radio4">
                        <label for="radio4">Rented</label>
                      </div>
                      <div class="radio-custom radio-inline">
                        <input type="radio" name="user[is_home_rented]" value="0" checked="checked" id="radio5">
                        <label for="radio5">Bought</label>
                      </div>
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">Number of Loans</label>

                    <div class="col-lg-9">
                      <select class="fancy-select form-control" name="user[no_of_loans]">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">Salary/Mth</label>

                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="salary" name="user[salary_per_month]" value="<%= @borrower.salary_per_month %>">
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">Bankrupt</label>

                    <div class="col-lg-9">
                      <div class="radio-custom radio-inline">
                        <input type="radio" name="user[is_bankrupt]" value="1" id="radio6">
                        <label for="radio6">Yes</label>
                      </div>
                      <div class="radio-custom radio-inline">
                        <input type="radio" name="user[is_bankrupt]" value="0" checked="checked" id="radio7">
                        <label for="radio7">No</label>
                      </div>
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">Status</label>

                    <div class="col-lg-9">
                      <div class="toggle-custom wd-set">
                        <label data-off="Inactive" data-on="Active" class="toggle">
                          <input type="checkbox" checked="" name="user[status]" id="checkbox-toggle">
                          <span class="button-checkbox"></span>
                        </label>
                        <!--<label for="checkbox-toggle">Checked</label>-->
                      </div>
                    </div>
                  </div>
                  <!-- End .form-group  -->

                  <div class="form-group form-group-vertical">
                    <label class="col-lg-3 control-label" for="">Change password</label>

                    <div class="col-lg-9">
                      <input type="password" class="form-control" id="password" name="user[password]">
                      <!--<input type="password" class="form-control" id="password1" name="password1" placeholder="Repeat your password">-->
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                      <button class="btn btn-primary" type="submit">Make change</button>
                    </div>
                  </div>
                  <!-- End .form-group  -->
                </form>
              </div>
            </div>
          </div>
          <!-- End .tabs -->
        </div>
        <!-- col-lg-4 end here -->

      </div>
      <!-- End .row -->
    </div>
    <!-- End contentwrapper -->
  </div>
  <!-- End #content -->
  <div id="footer" class="clearfix sidebar-page">
    <!-- Start #footer  -->
    <p class="pull-left">
      Copyrights &copy; 2015 <a href="javascript:void(0);" class="color-blue strong" target="_blank">Cashmi</a> by The
      Bam Method Limited. All rights reserved.
    </p>

    <p class="pull-right">
      <a href="#" class="mr5">Terms of use</a>
      |
      <a href="#" class="ml5 mr25">Privacy police</a>
    </p>
  </div>
  <!-- End #footer  -->
</div>
<!-- / #wrapper -->
<!-- Back to top -->
<div id="back-to-top"><a href="#">Back to Top</a>
</div>
<!--[if lt IE 9]>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</body>