<body>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<%= render 'admin/navigation' %>
<div id="wrapper">
  <!-- #wrapper -->
  <%= render 'admin/sidebar' %>

  <!--Body content-->
  <div id="content" class="page-content clearfix">
    <div class="contentwrapper">
      <!--Content wrapper-->
      <div class="heading">
        <!--  .heading-->
        <h3>Add New Pending Applications form</h3>

        <div class="resBtnSearch">
          <a href="#"><span class="s16 icomoon-icon-search-3"></span></a>
        </div>

        <ul class="breadcrumb">
          <li>You are here:</li>
          <li>
            <a href="#" class="tip" title="back to dashboard">
              <i class="s16 icomoon-icon-screen-2"></i>
            </a>
                                <span class="divider">
									<i class="s16 icomoon-icon-arrow-right-3"></i>
								</span>
          </li>
          <li class="active">Blank Page</li>
        </ul>
      </div>
      <!-- End  / heading-->
      <!-- Start .row -->
      <div class="row">
        <div class="col-md-12 sortable-layout">
          <!-- col-md-6 start here -->
          <div class="panel panel-default toggle panelClose panelRefresh panelMove">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title"><i class="s16 fa fa-edit"></i> Form</h4>
            </div>
            <div class="panel-body">
              <form class="form-horizontal group-border stripped" action="<%= save_edit_pending_path %>" role="form">
                <div class="form-group">
                  <label class="col-lg-3 control-label" for="">Loan ID</label>

                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="loanid" value="<%= @loan_app.loan_id %>" name="loan_app[loan_id]">
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-lg-3 control-label" for="">Borrower ID</label>

                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="borrowerid" value="<%= @loan_app.loan.borrower_id %>" name="loan[borrower_id]">
                  </div>
                </div>
                <!-- End .form-group  -->
                <!--<div class="form-group">-->
                  <!--<label class="col-lg-3 control-label" for="">Borrower Name</label>-->

                  <!--<div class="col-lg-9">-->
                    <!--<input type="text" class="form-control" id="borrowername" name="borrowername">-->
                  <!--</div>-->
                <!--</div>-->
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-lg-3 control-label" for="">Request Amount</label>

                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="req-amount" value="<%= @loan_app.loan.amount %>" name="loan[amount]">
                  </div>
                </div>
                <!-- End .form-group  -->
                <!--<div class="form-group">-->
                  <!--<label class="col-lg-3 control-label" for="">Date</label>-->

                  <!--<div class="col-lg-9">-->
                    <!--<input type="text" class="form-control" id="date" name="date">-->
                  <!--</div>-->
                <!--</div>-->
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-lg-3 control-label" for="">Time</label>

                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="time" value="<%= @loan_app.loan.time %>" name="loan[time]">
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-lg-3 control-label" for="">Lender ID</label>

                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="lenderid" value="<%= @loan_app.lender_id %>" name="loan_app[lender_id]">
                  </div>
                </div>
                <!-- End .form-group  -->
                <!--<div class="form-group">-->
                  <!--<label class="col-lg-3 control-label" for="">Lender Name</label>-->

                  <!--<div class="col-lg-9">-->
                    <!--<input type="text" class="form-control" id="lender-name" name="LenderName">-->
                  <!--</div>-->
                <!--</div>-->
                <!-- End .form-group  -->


                <div class="form-group">
                  <label class="col-lg-3 control-label" for="">Return Amount</label>

                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="return-amount" value="<%= @loan_app.return_amount %>" name="loan_app[return_amount]">
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-lg-3 control-label" for="">Per</label>

                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="per" value="<%= @loan_app.per %>" name="loan_app[per]">
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-lg-3 control-label" for="">Over Time</label>

                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="over-time" value="<%= @loan_app.over_times %>" name="loan_app[over_times]">
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-lg-3 control-label" for="">Bidded Time</label>

                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="bidded-time" value="<%= @loan_app.bidded_time %>" name="loan_app[bidded_time]">
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-lg-3 control-label" for="">EIR Rate</label>

                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="eir-rate" value="00" name="loan_app[eir]">
                  </div>
                </div>
                <!-- End .form-group  -->

                <input type="text" name="loan_app[id]" value="<%= @loan_app.id %>" hidden>

                <div class="view-chat-btm-btn mrt-15">
                  <div class="btn-group">
                    <button class="btn btn-danger" type="submit">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- End .panel -->


        </div>
        <!-- col-md-12 end here -->

      </div>
      <!-- End .row -->
    </div>
    <!-- End contentwrapper -->
  </div>
  <!-- End #content -->
  <div id="footer" class="clearfix sidebar-page right-sidebar-page">
    <!-- Start #footer  -->
    <p class="pull-left">
      Copyrights &copy; 2015 <a href="javascript:void(0);" class="color-blue strong" target="_blank">Cashmi</a> by The
      Bam Method Limited. All rights reserved.
    </p>

    <p class="pull-right">
      <a href="#" class="mr5">Terms of use</a>
      |
      <a href="#" class="ml5 mr25">Privacy police</a>
    </p>
  </div>
  <!-- End #footer  -->
</div>
<!-- / #wrapper -->
<!-- Back to top -->
<div id="back-to-top"><a href="#">Back to Top</a>
</div>
<!--[if lt IE 9]>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</body>