<body>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- .#header -->
<%= render 'admin/navigation' %>
<div id="wrapper">
  <!-- #wrapper -->
  <%= render 'admin/sidebar' %>

  <!--Body content-->
  <div id="content" class="page-content clearfix">
    <div class="contentwrapper">
      <!--Content wrapper-->
      <div class="heading">
        <!--  .heading-->
        <h3>Add New Borrower Form</h3>
        <div class="resBtnSearch">
          <a href="#"><span class="s16 icomoon-icon-search-3"></span></a>
        </div>

        <ul class="breadcrumb">
          <li>You are here:</li>
          <li>
            <a href="#" class="tip" title="back to dashboard">
              <i class="s16 icomoon-icon-screen-2"></i>
            </a>
                                <span class="divider">
									<i class="s16 icomoon-icon-arrow-right-3"></i>
								</span>
          </li>
          <li class="active">Blank Page</li>
        </ul>
      </div>
      <!-- End  / heading-->
      <!-- Start .row -->
      <div class="row">
        <div class="col-md-12 sortable-layout">
          <!-- col-md-6 start here -->
          <div class="panel panel-default toggle panelClose panelRefresh panelMove">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title"><i class="s16 fa fa-edit"></i> Form</h4>
            </div>
            <div class="panel-body">
              <form class="form-horizontal group-border stripped" action="<%= borrowers_save_path %>" role="form">
                <!--<div class="form-group">-->
                  <!--<label class="col-lg-3 control-label" for="">ID Number</label>-->
                  <!--<div class="col-lg-9">-->
                    <!--<input type="text" class="form-control" id="IDNumber" value="" name="user[id]">-->
                  <!--</div>-->
                <!--</div>-->
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-lg-3 control-label" for="">Name</label>
                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="lastname" value="<%= @borrower.name %>" name="user[name]">
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-lg-3 control-label" for="">NRIC/FIN</label>
                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="NRIC" value="<%= @borrower.nric %>" name="user[biz_reg_no]">
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-lg-3 control-label" for="">Email</label>
                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="Email" value="<%= @borrower.email %>" name="user[email]" >
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-lg-3 control-label" for="">Phone</label>
                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="phone" value="<%= @borrower.phone %>" name="user[phone]" >
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-lg-3 control-label" for="">Adress</label>
                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="address" value="<%= @borrower.address %>" name="user[address]" >
                  </div>
                </div>
                <!-- End .form-group  -->


                <div class="form-group">
                  <label class="col-lg-3 control-label" for="">Job Title</label>
                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="Job" value="<%= @borrower.job %>" name="user[job]" >
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-lg-3 control-label" for="">Device</label>
                  <div class="col-lg-9">
                    <input type="number" class="form-control" id="device" value="<%= @borrower.device_type %>" name="user[device_type]" >
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-lg-3 control-label" for="">Home</label>
                  <div class="col-lg-9">
                    <div class="radio-custom radio-inline">
                      <input type="radio" name="user[is_home_rented]" value="1" id="radio4">
                      <label for="radio4">Rented</label>
                    </div>
                    <div class="radio-custom radio-inline">
                      <input type="radio" name="user[is_home_rented]" value="0" checked="checked" id="radio5">
                      <label for="radio5">Bought</label>
                    </div>
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-lg-3 control-label" for="">Number of Loans</label>
                  <div class="col-lg-9">
                    <select class="fancy-select form-control" name="user[no_of_loans]">
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-lg-3 control-label" for="">Salary/Mth</label>
                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="salary" value="<%= @borrower.salary_per_month %>" name="user[salary_per_month]" >
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-lg-3 control-label" for="">Bankrupt</label>
                  <div class="col-lg-9">
                    <div class="radio-custom radio-inline">
                      <input type="radio" name="user[is_bankrupt]" value="1" id="radio6">
                      <label for="radio6">Yes</label>
                    </div>
                    <div class="radio-custom radio-inline">
                      <input type="radio" name="user[is_bankrupt]" value="0" checked="checked" id="radio7">
                      <label for="radio7">No</label>
                    </div>
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-lg-3 control-label" for="">Status</label>
                  <div class="col-lg-9">
                    <div class="toggle-custom wd-set">
                      <label data-off="Inactive" data-on="Active" class="toggle">
                        <input type="checkbox" checked="" name="user[address]" value="<%= @borrower.status %>" id="checkbox-toggle">
                        <span class="button-checkbox"></span>
                      </label>
                      <!--<label for="checkbox-toggle">Checked</label>-->
                    </div>
                  </div>
                </div>
                <!-- End .form-group  -->
                <input type="text" name="user[is_borrower]" value="1" hidden>


                <div class="view-chat-btm-btn mrt-15">
                  <div class="btn-group">
                    <button class="btn btn-danger" type="submit">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- End .panel -->


        </div>
        <!-- col-md-12 end here -->

      </div>
      <!-- End .row -->
    </div>
    <!-- End contentwrapper -->
  </div>
  <!-- End #content -->
  <div id="footer" class="clearfix sidebar-page right-sidebar-page">
    <!-- Start #footer  -->
    <p class="pull-left">
      Copyrights &copy; 2015 <a href="javascript:void(0);" class="color-blue strong" target="_blank">Cashmi</a> by The Bam Method Limited. All rights reserved.
    </p>
    <p class="pull-right">
      <a href="#" class="mr5">Terms of use</a>
      |
      <a href="#" class="ml5 mr25">Privacy police</a>
    </p>
  </div>
  <!-- End #footer  -->
</div>
<!-- / #wrapper -->
<!-- Back to top -->
<div id="back-to-top"><a href="#">Back to Top</a>
</div>
<!-- Javascripts -->
<!--[if lt IE 9]>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</body>