<body>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<%= render 'admin/navigation' %>
<div id="wrapper">
  <!-- #wrapper -->
  <%= render 'admin/sidebar' %>

  <!--Body content-->
  <div id="content" class="page-content clearfix">
    <div class="contentwrapper">
      <!--Content wrapper-->
      <div class="heading">
        <!--  .heading-->
        <h3>Borrower Dashboard Summary</h3>
        <div class="resBtnSearch">
          <a href="#"><span class="s16 icomoon-icon-search-3"></span></a>
        </div>

        <ul class="breadcrumb">
          <li>You are here:</li>
          <li>
            <a href="#" class="tip" title="back to dashboard">
              <i class="s16 icomoon-icon-screen-2"></i>
            </a>
                                <span class="divider">
                <i class="s16 icomoon-icon-arrow-right-3"></i>
            </span>
          </li>
          <li class="active">Blank Page</li>
        </ul>
      </div>
      <!-- End  / heading-->
      <!-- Start .row -->
      <div class="row">
        <div class="col-lg-6 col-md-12 ">
          <!-- col-md-12 start here -->
          <div class="panel panel-default chart">
            <div class="panel-heading">
              <h4 class="panel-title">
                <i class="s16 icomoon-icon-bars"></i>
                <span>Residential Heat Mapping</span>
              </h4>
            </div>
            <div class="panel-body">
              <!--<div class="simple-chart" style="height: 230px; width:100%;">-->
              <div id="panel" class="map-btns">
                <button onClick="toggleHeatmap()">Toggle Heatmap</button>
                <button onClick="changeGradient()">Change gradient</button>
                <button onClick="changeRadius()">Change radius</button>
                <button onClick="changeOpacity()">Change opacity</button>
              </div>

              <div id="map-canvas" style="height:230px; width:100%;"></div>
            </div>
          </div>
          <!-- End .panel -->

        </div>
        <!-- col-md-12 end here -->
        <div class="col-lg-6 col-md-12 ">
          <!-- col-lg-6 start here -->
          <div class="panel panel-default chart">
            <div class="panel-heading">
              <h4 class="panel-title">
                <i class="s16 icomoon-icon-bars"></i>
                <span>Borrower Acquisition</span>
              </h4>
            </div>
            <div class="panel-body">
              <div class="auto-update-chart" style="height: 230px;width:100%;">
              </div>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
      </div>
      <!-- End .row -->
      <div class="row">
        <div class="col-lg-12">
          <!-- col-lg-12 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Borrower Summary</h4>

              <div class="table-top-add-tools-btn">
                <a class="btn btn-info mr5" href="<%= borrowers_new_path %>"><i class="fa fa-pencil"></i> Add</a>
                <div class="btn-group dropdown mr5">
                  <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button" aria-expanded="false">
                    <i class="fa fa-gears"></i> Tools
                    <span class="caret"></span>
                  </button>
                  <ul role="menu" class="dropdown-menu animated fadeIn" style="margin-left: -49px;">

                    <li>
                      <a href="#"><i class="fa fa-trash-o"></i> Delete</a>
                    </li>


                  </ul>
                </div>
              </div>

            </div>
            <div class="panel-body cstm-table valign">
              <table id="tabletools" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                  <th class="sort-n"><div class="checkbox-custom">
                    <input class="check-all" type="checkbox" id="masterCheck" value="option1">
                    <label for="masterCheck"></label>
                  </div></th>
                  <th>S/N</th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Device</th>
                  <th>Job Title</th>
                  <th>Salary/Mth</th>
                  <th>Number of Loans</th>
                  <th>Status</th>
                  <th class="last-act">Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                  <th></th>
                  <th>S/N</th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Device</th>
                  <th>Job Title</th>
                  <th>Salary/Mth</th>
                  <th>Number of Loans</th>
                  <th>Status</th>
                  <th class="last-act">Actions</th>
                </tr>
                </tfoot>
                <tbody>
                <% @borrowers.each_with_index do |value, index| %>
                    <tr>
                      <td><div class="checkbox-custom">
                        <input id="check" class="check" type="checkbox" value="option<%= index %>">
                        <label for="check"></label>
                      </div></td>
                      <td><%= index %></td>
                      <td><%= value.id %></td>
                      <td><%= value.name %></td>
                      <td><%= value.phone %></td>
                      <td><%= value.email %></td>
                      <td><%= value.device_type %></td>
                      <td><%= value.job %></td>
                      <td><%= value.salary_per_month %></td>
                      <td><%= value.no_of_loans %></td>
                      <td><%= value.status %></td>
                      <td>
                        <div class="table-btns">
                          <ul>
                            <li><a href="<%= borrowers_edit_path value.id %>" class="edt-btn">View / Edit</a></li>
                            <li><a href="<%= borrowers_delete_path value.id %>" class="view-btn">Delete</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End contentwrapper -->
  </div>
  <!-- End #content -->
  <div id="footer" class="clearfix sidebar-page">
    <!-- Start #footer  -->
    <p class="pull-left">
      Copyrights &copy; 2015 <a href="javascript:void(0);" class="color-blue strong" target="_blank">Cashmi</a> by The Bam Method Limited. All rights reserved.
    </p>
    <p class="pull-right">
      <a href="#" class="mr5">Terms of use</a>
      |
      <a href="#" class="ml5 mr25">Privacy police</a>
    </p>
  </div>
  <!-- End #footer  -->
</div>
<!-- / #wrapper -->
<!-- Back to top -->
<div id="back-to-top"><a href="#">Back to Top</a>
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>
<script>
    // Adding Data Points
    var map, pointarray, heatmap;

    var taxiData = [
        new google.maps.LatLng(1.27996579, 103.85057896),
        new google.maps.LatLng(1.27978344, 103.85047167),
        new google.maps.LatLng(1.27961182, 103.85034292),
        new google.maps.LatLng(1.27940803, 103.85021417),
        new google.maps.LatLng(1.27926859, 103.85016053),
        new google.maps.LatLng(1.27912915, 103.8500747),
        new google.maps.LatLng(1.2789468, 103.84996741),
        new google.maps.LatLng(1.27876446, 103.84986012),
        new google.maps.LatLng(1.27859284, 103.84975283),
        new google.maps.LatLng(1.27839977, 103.84962409),
        new google.maps.LatLng(1.27817452, 103.84949534),
        new google.maps.LatLng(1.27792782, 103.8493666),
        new google.maps.LatLng(1.27765966, 103.84920566),
        new google.maps.LatLng(1.27743441, 103.849034),
        new google.maps.LatLng(1.27727352, 103.84894817),
        new google.maps.LatLng(1.2771448, 103.84886234),
        new google.maps.LatLng(1.27696246, 103.8487336),
        new google.maps.LatLng(1.27678011, 103.84861558),
        new google.maps.LatLng(1.27657632, 103.8484761),
        new google.maps.LatLng(1.27637252, 103.84833663),
        new google.maps.LatLng(1.2762009, 103.8482508),
        new google.maps.LatLng(1.27602928, 103.84814351),
        new google.maps.LatLng(1.27579331, 103.84799331),
        new google.maps.LatLng(1.27562169, 103.84788602),
        new google.maps.LatLng(1.27547152, 103.847768),
        new google.maps.LatLng(1.27526772, 103.84766071),
        new google.maps.LatLng(1.27506393, 103.84752124),
        new google.maps.LatLng(1.27490303, 103.84738176),
        new google.maps.LatLng(1.27465633, 103.84723156),

        new google.maps.LatLng(1.2872702, 103.84589914),
        new google.maps.LatLng(1.28700205, 103.84572748),
        new google.maps.LatLng(1.28680898, 103.84556655),
        new google.maps.LatLng(1.28658373, 103.8453627),
        new google.maps.LatLng(1.28636921, 103.84520177),
        new google.maps.LatLng(1.28614396, 103.84500865),
        new google.maps.LatLng(1.28595089, 103.84484771),
        new google.maps.LatLng(1.28573636, 103.84469751),
        new google.maps.LatLng(1.28559693, 103.84452585),
        new google.maps.LatLng(1.28535022, 103.84436492),
        new google.maps.LatLng(1.28515715, 103.84418253),
        new google.maps.LatLng(1.28498554, 103.84404305),
        new google.maps.LatLng(1.28485691, 103.84388953),
        new google.maps.LatLng(1.28451367, 103.84363203),
        new google.maps.LatLng(1.28425625, 103.84335308),
        new google.maps.LatLng(1.28393446, 103.84307413),
        new google.maps.LatLng(1.28356977, 103.84281664),
        new google.maps.LatLng(1.28329089, 103.84258061),
        new google.maps.LatLng(1.28311927, 103.84238749),
        new google.maps.LatLng(1.28281894, 103.84215145),
        new google.maps.LatLng(1.28258297, 103.84195834),
        new google.maps.LatLng(1.28234699, 103.8417223),
        new google.maps.LatLng(1.28206401, 103.84151816),
        new google.maps.LatLng(1.28169932, 103.84121776),
        new google.maps.LatLng(1.28137754, 103.84098172),
        new google.maps.LatLng(1.28105575, 103.84072423),
        new google.maps.LatLng(1.28073397, 103.84042382),
        new google.maps.LatLng(1.28045509, 103.84018779),
        new google.maps.LatLng(1.28011185, 103.83986592),
        new google.maps.LatLng(1.27985442, 103.83962989),
        new google.maps.LatLng(1.27955409, 103.83943677),
        new google.maps.LatLng(1.2792323, 103.83917928)
    ];

    function initialize() {
        var mapOptions = {
            zoom: 14,
            center: new google.maps.LatLng(1.27996579, 103.85057896),
            mapTypeId: google.maps.MapTypeId.SATELLITE
        };

        map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);

        var pointArray = new google.maps.MVCArray(taxiData);

        heatmap = new google.maps.visualization.HeatmapLayer({
            data: pointArray
        });

        heatmap.setMap(map);
    }

    function toggleHeatmap() {
        heatmap.setMap(heatmap.getMap() ? null : map);
    }

    function changeGradient() {
        var gradient = [
            'rgba(0, 255, 255, 0)',
            'rgba(0, 255, 255, 1)',
            'rgba(0, 191, 255, 1)',
            'rgba(0, 127, 255, 1)',
            'rgba(0, 63, 255, 1)',
            'rgba(0, 0, 255, 1)',
            'rgba(0, 0, 223, 1)',
            'rgba(0, 0, 191, 1)',
            'rgba(0, 0, 159, 1)',
            'rgba(0, 0, 127, 1)',
            'rgba(63, 0, 91, 1)',
            'rgba(127, 0, 63, 1)',
            'rgba(191, 0, 31, 1)',
            'rgba(255, 0, 0, 1)'
        ]
        heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
    }

    function changeRadius() {
        heatmap.set('radius', heatmap.get('radius') ? null : 20);
    }

    function changeOpacity() {
        heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
    }

    google.maps.event.addDomListener(window, 'load', initialize);

</script>

</body>