<div id="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">
        <%= image_tag 'cashmilogo.png' %>
      </a>
    </div>
    <div id="navbar-no-collapse" class="navbar-no-collapse">
      <ul class="nav navbar-nav">
        <li>
          <!--Sidebar collapse button-->
          <a href="#" class="collapseBtn leftbar"><i class="s16 minia-icon-list-3"></i></a>
        </li>
        <!--<li>
            <a href="#" class="tipB reset-layout" title="Reset panel postions"><i class="s16 icomoon-icon-history"></i></a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="s16 icomoon-icon-cog-2"></i><span class="txt"> Settings</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu left dropdown-form template-settings">
                <li class="menu">
                    <ul role="menu">
                        <li><strong>Template settings</strong>
                        </li>
                        <li>
                            <div class="toggle-custom">
                                <label class="toggle" data-on="ON" data-off="OFF">
                                    <input type="checkbox" id="fixed-header-toggle" name="fixed-header-toggle" checked>
                                    <span class="button-checkbox"></span>
                                </label>
                                <label for="fixed-header-toggle">Fixed header</label>
                            </div>
                        </li>
                        <li>
                            <div class="toggle-custom">
                                <label class="toggle" data-on="ON" data-off="OFF">
                                    <input type="checkbox" id="fixed-left-sidebar" name="fixed-left-sidebar" checked>
                                    <span class="button-checkbox"></span>
                                </label>
                                <label for="fixed-left-sidebar">Fixed Left Sidebar</label>
                            </div>
                        </li>
                        <li>
                            <div class="toggle-custom">
                                <label class="toggle" data-on="ON" data-off="OFF">
                                    <input type="checkbox" id="fixed-right-sidebar" name="fixed-right-sidebar" checked>
                                    <span class="button-checkbox"></span>
                                </label>
                                <label for="fixed-right-sidebar">Fixed Right Sidebar</label>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="s16 minia-icon-envelope"></i><span class="txt">Ticket Messages</span><span class="notification">8</span>
          </a>
          <ul class="dropdown-menu left">
            <li class="menu">
              <ul class="messages">
                <li class="header"><strong>Tickets</strong> (10) Messages</li>
                <li>
                  <span class="icon avatar"><%= image_tag 'avatar.jpg' %></span>
                  <span class="name"><a data-toggle="modal" href="#myModal1"><strong>Sammy
                    Morerira</strong></a><span class="time">35 min ago</span></span>
                  <span class="msg">I have question about new function ...</span>
                </li>
                <li>
                  <span class="icon avatar"><%= image_tag 'avatar.jpg' %></span>
                  <span class="name"><a data-toggle="modal" href="#myModal1"><strong>George
                    Michael</strong></a><span class="time">1 hour ago</span></span>
                  <span class="msg">I need to meet you urgent please call me ...</span>
                </li>
                <li>
                  <span class="icon avatar"><%= image_tag 'avatar.jpg' %></span>
                  <span class="name"><a data-toggle="modal" href="#myModal1"><strong>Ivanovich</strong></a><span class="time">1 day ago</span></span>
                  <span class="msg">I send you my suggestion, please look and ...</span>
                </li>
                <li class="view-all"><a href="#">View all tickets <i class="s16 fa fa-angle-double-right"></i></a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-right usernav">
        <!--<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="s16 icomoon-icon-earth"></i><span class="notification">3</span>
            </a>
            <ul class="dropdown-menu right">
                <li class="menu">
                    <ul class="notif">
                        <li class="header"><strong>Notifications</strong> (3) items</li>
                        <li>
                            <a href="#">
                                <span class="icon"><i class="s16 icomoon-icon-user-plus"></i></span>
                                <span class="event">1 User is registred</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon"><i class="s16 icomoon-icon-bubble-3"></i></span>
                                <span class="event">Jony add 1 comment</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon"><i class="s16 icomoon-icon-new"></i></span>
                                <span class="event">admin Julia added post with a long description</span>
                            </a>
                        </li>
                        <li class="view-all"><a href="#">View all notifications <i class="s16 fa fa-angle-double-right"></i></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
            <%= image_tag 'avatar.jpg', class: :image %>
            <span class="txt"><%= current_admin.email %></span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu right">
            <li class="menu">
              <ul>
                <li><a href="#"><i class="s16 icomoon-icon-user-plus"></i>Edit profile</a>
                </li>
                <!--<li><a href="#"><i class="s16 icomoon-icon-bubble-2"></i>Comments</a>
                </li>-->
                <li><a href="#"><i class="s16 icomoon-icon-plus"></i>Add user</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="<%= destroy_admin_session_url %>"><i class="s16 icomoon-icon-exit"></i><span class="txt"> Logout</span></a></li>

      </ul>
    </div>
    <!-- /.nav-collapse -->
  </nav>
  <!-- /navbar -->
</div>
<!-- / #header -->