<!--Sidebar background-->
<div id="sidebarbg" class="hidden-lg hidden-md hidden-sm hidden-xs"></div>
<!--Sidebar content-->
<div id="sidebar" class="page-sidebar hidden-lg hidden-md hidden-sm hidden-xs">
  <!--<div class="shortcuts">
      <ul>
          <li><a href="javascript:void(0);" title="Support section" class="tip"><i class="s24 icomoon-icon-support"></i></a>
          </li>
          <li><a href="#" title="Database backup" class="tip"><i class="s24 icomoon-icon-database"></i></a>
          </li>
          <li><a href="javascript:void(0);" title="Sales statistics" class="tip"><i class="s24 icomoon-icon-pie-2"></i></a>
          </li>
          <li><a href="#" title="Write post" class="tip"><i class="s24 icomoon-icon-pencil"></i></a>
          </li>
      </ul>
  </div>-->
  <!-- End search -->
  <!-- Start .sidebar-inner -->
  <div class="sidebar-inner">
    <!-- Start .sidebar-scrollarea -->
    <div class="sidebar-scrollarea">
      <div class="sidenav">
        <div class="sidebar-widget mb0">
          <h6 class="title mb0">Navigation</h6>
        </div>
        <!-- End .sidenav-widget -->
        <div class="mainnav">
          <ul>
            <li><a href="<%= root_path %>"><i class="s16 icomoon-icon-screen-2"></i><span class="txt">Dashboard</span> </a>
            </li>
            <li>
              <a href="#"><i class="s16 icomoon-icon-user"></i><span class="txt">User management</span> </a>
              <ul class="sub dd-set">
                <li><a href="<%= admins_show_path %>"><i class="s16 icomoon-icon-arrow-right-3"></i><span class="txt">Admin Summary</span></a>
                </li>

                <li><a href="<%= borrowers_show_path %>"><i class="s16 icomoon-icon-arrow-right-3"></i><span class="txt">Borrower Summary</span></a>
                </li>

                <li><a href="<%= lenders_show_path %>"><i class="s16 icomoon-icon-arrow-right-3"></i><span class="txt">lender Summary</span></a>
                </li>

              </ul>
            </li>
            <li>
              <a href="#"><i class="s16 icomoon-icon-coin"></i><span class="txt">Loan management</span> </a>
              <ul class="sub dd-set">
                <li>
                  <a href="<%= active_borrowers_path %>"><i class="s16 icomoon-icon-arrow-right-3"></i><span class="txt">Active Borrower Applications </span></a>
                </li>

                <li>
                  <a href="<%= pending_applications_path %>"><i class="s16 icomoon-icon-arrow-right-3"></i><span class="txt">Pending Borrower Application</span></a>
                </li>

                <li>
                  <a href="<%= confirmed_applications_path %>"><i class="s16 icomoon-icon-arrow-right-3"></i><span class="txt">Confirmed Borrower Applications</span></a>
                </li>

              </ul>
            </li>
            <li>
              <a href="<%= chats_path %>"><i class="s16 icomoon-icon-bubbles-6"></i><span class="txt">Chatting</span></a>
            </li>
            <li>
              <a href="<%= ratings_path %>"><i class="s16 icomoon-icon-star"></i><span class="txt">User Ratings</span></a>
            </li>
            <li>
              <a href="#"><i class="s16 icomoon-icon-database"></i><span class="txt">Lender Database</span> </a>
              <ul class="sub dd-set">
                <li>
                  <a href="lender-db-hong-kong.html"><i class="s16 icomoon-icon-arrow-right-3"></i><span class="txt">Hong Kong </span></a>
                </li>

                <li>
                  <a href="lender-db-singapore.html"><i class="s16 icomoon-icon-arrow-right-3"></i><span class="txt">Singapore</span></a>
                </li>

              </ul>
            </li>
            <li><a href="<%= settings_show_path %>"><i class="s16 icomoon-icon-cog-2"></i><span class="txt">Settings</span></a>
            </li>
            <li>
              <a href="<%= tickets_show_path %>"><i class="s16 icomoon-icon-ticket"></i><span class="txt">Helpdesk Ticket</span></a>
            </li>

          </ul>
        </div>
      </div>
      <!-- End sidenav -->

    </div>
    <!-- End .sidebar-scrollarea -->
  </div>
  <!-- End .sidebar-inner -->
</div>
<!-- End #sidebar -->