<body>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- .#header -->
<%= render 'admin/navigation' %>
<div id="wrapper">
  <!-- #wrapper -->
  <%= render 'admin/sidebar' %>

  <!--Body content-->
  <div id="content" class="page-content clearfix">
    <div class="contentwrapper">
      <!--Content wrapper-->
      <div class="heading">
        <!--  .heading-->
        <h3>Chat Summary Dashboard</h3>
        <div class="resBtnSearch">
          <a href="#"><span class="s16 icomoon-icon-search-3"></span></a>
        </div>

        <ul class="breadcrumb">
          <li>You are here:</li>
          <li>
            <a href="#" class="tip" title="back to dashboard">
              <i class="s16 icomoon-icon-screen-2"></i>
            </a>
                                <span class="divider">
                <i class="s16 icomoon-icon-arrow-right-3"></i>
            </span>
          </li>
          <li class="active">Blank Page</li>
        </ul>
      </div>
      <!-- End  / heading-->
      <!-- Start .row -->
      <div class="row">
        <div class="col-md-6 sortable-layout">
          <!-- col-md-6 start here -->
          <div class="panel panel-default toggle panelClose panelRefresh panelMove">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title"><i class="icomoon-icon-bubbles"></i> Recent Chats</h4>
            </div>
            <div class="panel-body">
              <ul class="list-group recent-comments">
                <li class="list-group-item clearfix comment-success">
                  <div class="avatar pull-left mr15">
                    <img src="img/avatars/2.jpg" alt="avatar">
                  </div>
                  <p class="text-ellipsis"><span class="name strong">Ben Simpson: </span> Very happy with your support is really great, keep that quality.</p>
                  <span class="date text-muted small pull-left">Dec 18, 2014, 4:24 pm</span>
                  <a href="view-chat.html" class="see-more small pull-right">View Chat</a>
                </li>
                <li class="list-group-item clearfix comment-default">
                  <div class="avatar pull-left mr15">
                    <img src="img/avatars/3.jpg" alt="avatar">
                  </div>
                  <p class="text-ellipsis"><span class="name strong">Jonh: </span> Fine items but you could invest more time.</p>
                  <span class="date text-muted small pull-left">Dec 18, 2014, 12:11 pm</span>
                  <a href="view-chat.html" class="see-more small pull-right">View Chat</a>
                </li>
                <li class="list-group-item clearfix comment-info">
                  <div class="avatar pull-left mr15">
                    <img src="img/avatars/4.jpg" alt="avatar">
                  </div>
                  <p class="text-ellipsis"><span class="name strong">Dina Dowsen: </span> Awesome items, really fast delivery.</p>
                  <span class="date text-muted small pull-left">Dec 18, 2014, 8:17 pm</span>
                  <a href="view-chat.html" class="see-more small pull-right">View Chat</a>
                </li>
                <li class="list-group-item clearfix comment-warning">
                  <div class="avatar pull-left mr15">
                    <img src="img/avatars/5.jpg" alt="avatar">
                  </div>
                  <p class="text-ellipsis"><span class="name strong">Matt: </span> I`m not impressed but is fine.</p>
                  <span class="date text-muted small pull-left">Dec 17, 2014, 6:24 pm</span>
                  <a href="view-chat.html" class="see-more small pull-right">View Chat</a>
                </li>
                <li class="list-group-item clearfix comment-danger">
                  <div class="avatar pull-left mr15">
                    <img src="img/avatars/6.jpg" alt="avatar">
                  </div>
                  <p class="text-ellipsis"><span class="name strong">Ben Simpson: </span> This is worst item i ever seen.</p>
                  <span class="date text-muted small pull-left">Dec 16, 2014, 1:20 pm</span>
                  <a href="view-chat.html" class="see-more small pull-right">View Chat</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- End .panel -->





        </div>
        <!-- col-md-6 end here -->
        <div class="col-md-6 sortable-layout">
          <!-- col-md-6 start here -->


          <div class="panel panel-default toggle panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title"><i class="icomoon-icon-power"></i> Recent File Exchanges</h4>
            </div>
            <div class="panel-body p0">
              <ul class="activity">
                <li>
                  <i class="s16 icomoon-icon-upload gray"></i>
                  <a href="#"><strong>Admin Julia</strong></a> upload <a href="#">2 files</a>
                  <a href="#" class="btn btn-default btn-xs">View files</a>
                  <small>2 days ago</small>
                </li>
                <li>
                  <i class="s16 icomoon-icon-upload gray"></i>
                  <a href="#"><strong>Admin Julia</strong></a> upload <a href="#">2 files</a>
                  <a href="#" class="btn btn-default btn-xs">View files</a>
                  <small>2 days ago</small>
                </li>
                <li>
                  <i class="s16 icomoon-icon-upload gray"></i>
                  <a href="#"><strong>Admin Julia</strong></a> upload <a href="#">2 files</a>
                  <a href="#" class="btn btn-default btn-xs">View files</a>
                  <small>2 days ago</small>
                </li>
                <li>
                  <i class="s16 icomoon-icon-upload gray"></i>
                  <a href="#"><strong>Admin Julia</strong></a> upload <a href="#">2 files</a>
                  <a href="#" class="btn btn-default btn-xs">View files</a>
                  <small>2 days ago</small>
                </li>
                <li>
                  <i class="s16 icomoon-icon-upload gray"></i>
                  <a href="#"><strong>Admin Julia</strong></a> upload <a href="#">2 files</a>
                  <a href="#" class="btn btn-default btn-xs">View files</a>
                  <small>2 days ago</small>
                </li>
                <li>
                  <i class="s16 icomoon-icon-upload gray"></i>
                  <a href="#"><strong>Admin Julia</strong></a> upload <a href="#">2 files</a>
                  <a href="#" class="btn btn-default btn-xs">View files</a>
                  <small>2 days ago</small>
                </li>
                <li>
                  <i class="s16 icomoon-icon-upload gray"></i>
                  <a href="#"><strong>Admin Julia</strong></a> upload <a href="#">2 files</a>
                  <a href="#" class="btn btn-default btn-xs">View files</a>
                  <small>2 days ago</small>
                </li>
                <li>
                  <i class="s16 icomoon-icon-upload gray"></i>
                  <a href="#"><strong>Admin Julia</strong></a> upload <a href="#">2 files</a>
                  <a href="#" class="btn btn-default btn-xs">View files</a>
                  <small>2 days ago</small>
                </li>

              </ul>
            </div>
          </div>
          <!-- End .panel -->

        </div>
        <!-- col-md-6 end here -->
      </div>
      <!-- End .row -->

      <div class="row">
        <div class="col-lg-12">
          <!-- col-lg-12 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Chat Summary Datatable</h4>

              <div class="table-top-add-tools-btn">

                <div class="btn-group dropdown mr5">
                  <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button" aria-expanded="false">
                    <i class="fa fa-gears"></i> Tools
                    <span class="caret"></span>
                  </button>
                  <ul role="menu" class="dropdown-menu animated fadeIn" style="margin-left: -49px;">

                    <li>
                      <a href="#"><i class="fa fa-trash-o"></i> Delete</a>
                    </li>


                  </ul>
                </div>
              </div>

            </div>
            <div class="panel-body cstm-table">
              <table id="tabletools" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                  <th class="sort-n"><div class="checkbox-custom">
                    <input class="check-all" type="checkbox" id="masterCheck" value="option1">
                    <label for="masterCheck"></label>
                  </div></th>
                  <th>Loan ID</th>
                  <th>Loan Amount</th>
                  <th>Return Amount</th>
                  <th>Per</th>
                  <th>Over Times</th>
                  <th>Lender Name</th>
                  <th>Borrower Name</th>
                  <th class="last-act">Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                  <th></th>
                  <th>Loan ID</th>
                  <th>Loan Amount</th>
                  <th>Return Amount</th>
                  <th>Per</th>
                  <th>Over Times</th>
                  <th>Lender Name</th>
                  <th>Borrower Name</th>
                  <th class="last-act">Actions</th>
                </tr>
                </tfoot>
                <tbody>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check" class="check" type="checkbox" value="option2">
                    <label for="check"></label>
                  </div></td>
                  <td>1</td>
                  <td>1800</td>
                  <td>1804</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>HSX Credit</td>
                  <td>Tiger Nixon</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check1" class="check" type="checkbox" value="option3">
                    <label for="check1"></label>
                  </div></td>
                  <td>2</td>
                  <td>2000</td>
                  <td>2004</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>HSX</td>
                  <td>Chen</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check2" class="check" type="checkbox" value="option4">
                    <label for="check2"></label>
                  </div></td>
                  <td>3</td>
                  <td>2800</td>
                  <td>2804</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Credit</td>
                  <td>Tiger</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check3" class="check" type="checkbox" value="option5">
                    <label for="check3"></label>
                  </div></td>
                  <td>4</td>
                  <td>1200</td>
                  <td>1204</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Ashton </td>
                  <td>Cox</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check4" class="check" type="checkbox" value="option6">
                    <label for="check4"></label>
                  </div></td>
                  <td>5</td>
                  <td>2100</td>
                  <td>2104</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Brenden</td>
                  <td>Wagner</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check5" class="check" type="checkbox" value="option7">
                    <label for="check5"></label>
                  </div></td>
                  <td>6</td>
                  <td>2300</td>
                  <td>2304</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Nash</td>
                  <td>Bruno </td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check6" class="check" type="checkbox" value="option8">
                    <label for="check6"></label>
                  </div></td>
                  <td>7</td>
                  <td>1250</td>
                  <td>1254</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Brielle </td>
                  <td>Williamson</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check7" class="check" type="checkbox" value="option9">
                    <label for="check7"></label>
                  </div></td>
                  <td>8</td>
                  <td>2400</td>
                  <td>2404</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Caesar</td>
                  <td> Vance</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check8" class="check" type="checkbox" value="option10">
                    <label for="check8"></label>
                  </div></td>
                  <td>9</td>
                  <td>1100</td>
                  <td>1104</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Cara</td>
                  <td> Stevens</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check9" class="check" type="checkbox" value="option11">
                    <label for="check9"></label>
                  </div></td>
                  <td>10</td>
                  <td>2900</td>
                  <td>2904</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Cedric</td>
                  <td> Kelly</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check10" class="check" type="checkbox" value="option12">
                    <label for="check10"></label>
                  </div></td>
                  <td>11</td>
                  <td>1700</td>
                  <td>1704</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Charde</td>
                  <td> Marshall</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check11" class="check" type="checkbox" value="option13">
                    <label for="check11"></label>
                  </div></td>
                  <td>12</td>
                  <td>800</td>
                  <td>804</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Hurst</td>
                  <td>Colleen </td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check12" class="check" type="checkbox" value="option14">
                    <label for="check12"></label>
                  </div></td>
                  <td>13</td>
                  <td>3800</td>
                  <td>3804</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Brenden</td>
                  <td>Dai Rios</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check13" class="check" type="checkbox" value="option15">
                    <label for="check13"></label>
                  </div></td>
                  <td>14</td>
                  <td>1450</td>
                  <td>1454</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Donna</td>
                  <td> Snider</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check14" class="check" type="checkbox" value="option16">
                    <label for="check14"></label>
                  </div></td>
                  <td>15</td>
                  <td>1650</td>
                  <td>1654</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Nixon</td>
                  <td>Tiger </td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check15" class="check" type="checkbox" value="option17">
                    <label for="check15"></label>
                  </div></td>
                  <td>16</td>
                  <td>1980</td>
                  <td>1984</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Doris</td>
                  <td> Wilder</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check16" class="check" type="checkbox" value="option18">
                    <label for="check16"></label>
                  </div></td>
                  <td>17</td>
                  <td>2870</td>
                  <td>2874</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Finn </td>
                  <td>Camacho</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check17" class="check" type="checkbox" value="option19">
                    <label for="check17"></label>
                  </div></td>
                  <td>18</td>
                  <td>840</td>
                  <td>844</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Green</td>
                  <td>Fiona </td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check18" class="check" type="checkbox" value="option20">
                    <label for="check18"></label>
                  </div></td>
                  <td>19</td>
                  <td>2250</td>
                  <td>2254</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Gavin </td>
                  <td>Cortez</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check19" class="check" type="checkbox" value="option21">
                    <label for="check19"></label>
                  </div></td>
                  <td>20</td>
                  <td>3100</td>
                  <td>3104</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Haley </td>
                  <td>Kennedy</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check20" class="check" type="checkbox" value="option22">
                    <label for="check20"></label>
                  </div></td>
                  <td>21</td>
                  <td>1400</td>
                  <td>1404</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Hermione</td>
                  <td> Butler</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check21" class="check" type="checkbox" value="option23">
                    <label for="check21"></label>
                  </div></td>
                  <td>22</td>
                  <td>1150</td>
                  <td>1154</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Howard </td>
                  <td>Hatfield</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check22" class="check" type="checkbox" value="option24">
                    <label for="check22"></label>
                  </div></td>
                  <td>23</td>
                  <td>2230</td>
                  <td>2234</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Jena</td>
                  <td> Gaines</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check23" class="check" type="checkbox" value="option25">
                    <label for="check23"></label>
                  </div></td>
                  <td>24</td>
                  <td>1470</td>
                  <td>1474</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Jennifer </td>
                  <td>Acosta</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check24" class="check" type="checkbox" value="option26">
                    <label for="check24"></label>
                  </div></td>
                  <td>25</td>
                  <td>1600</td>
                  <td>1604</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Jonas </td>
                  <td>Alexander</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check25" class="check" type="checkbox" value="option27">
                    <label for="check25"></label>
                  </div></td>
                  <td>26</td>
                  <td>950</td>
                  <td>954</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Lael </td>
                  <td>Greer</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check26" class="check" type="checkbox" value="option28">
                    <label for="check26"></label>
                  </div></td>
                  <td>27</td>
                  <td>1120</td>
                  <td>1124</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Michael </td>
                  <td>Bruce</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check27" class="check" type="checkbox" value="option29">
                    <label for="check27"></label>
                  </div></td>
                  <td>28</td>

                  <td>1640</td>
                  <td>1644</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Michael </td>
                  <td>Silva</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check28" class="check" type="checkbox" value="option30">
                    <label for="check28"></label>
                  </div></td>
                  <td>29</td>
                  <td>1820</td>
                  <td>1824</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Michelle </td>
                  <td>Wagner</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check29" class="check" type="checkbox" value="option31">
                    <label for="check29"></label>
                  </div></td>
                  <td>30</td>
                  <td>2130</td>
                  <td>2134</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Olivia </td>
                  <td>Liang</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check30" class="check" type="checkbox" value="option32">
                    <label for="check30"></label>
                  </div></td>
                  <td>31</td>
                  <td>1480</td>
                  <td>1484</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Paul </td>
                  <td>Byrd</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check31" class="check" type="checkbox" value="option33">
                    <label for="check31"></label>
                  </div></td>
                  <td>32</td>
                  <td>680</td>
                  <td>684</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Prescott </td>
                  <td>Bartlett</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check32" class="check" type="checkbox" value="option34">
                    <label for="check32"></label>
                  </div></td>
                  <td>33</td>
                  <td>1670</td>
                  <td>1674</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Rhona </td>
                  <td>Davidson</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check33" class="check" type="checkbox" value="option35">
                    <label for="check33"></label>
                  </div></td>
                  <td>34</td>
                  <td>1080</td>
                  <td>1084</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Sakura</td>
                  <td>Yamamoto</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check34" class="check" type="checkbox" value="option36">
                    <label for="check34"></label>
                  </div></td>
                  <td>35</td>
                  <td>1280</td>
                  <td>1284</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Airi Satou</td>
                  <td>Angelica Ramos</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check35" class="check" type="checkbox" value="option37">
                    <label for="check35"></label>
                  </div></td>
                  <td>36</td>
                  <td>1180</td>
                  <td>1184</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Suki Burks</td>
                  <td>Tatyana Fitzpatrick</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check36" class="check" type="checkbox" value="option38">
                    <label for="check36"></label>
                  </div></td>
                  <td>37</td>
                  <td>980</td>
                  <td>984</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Thor Walton</td>
                  <td>Tiger Nixon</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check37" class="check" type="checkbox" value="option39">
                    <label for="check37"></label>
                  </div></td>
                  <td>38</td>
                  <td>1380</td>
                  <td>1384</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Timothy Mooney</td>
                  <td>Unity Butler</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check38" class="check" type="checkbox" value="option40">
                    <label for="check38"></label>
                  </div></td>
                  <td>39</td>
                  <td>780</td>
                  <td>784</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Zenaida Frank</td>
                  <td>Zorita Serrano</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div class="checkbox-custom">
                    <input id="check39" class="check" type="checkbox" value="option41">
                    <label for="check39"></label>
                  </div></td>
                  <td>40</td>
                  <td>1980</td>
                  <td>1984</td>
                  <td>Monthly</td>
                  <td>1</td>
                  <td>Vivian Harrell</td>
                  <td>Yuri Berry</td>
                  <td>
                    <div class="table-btns">
                      <ul>
                        <li><a href="view-chat.html" class="edt-btn">View</a></li>
                        <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
      </div>
      <!-- End .row -->

    </div>
    <!-- End contentwrapper -->
  </div>
  <!-- End #content -->
  <div id="footer" class="clearfix sidebar-page">
    <!-- Start #footer  -->
    <p class="pull-left">
      Copyrights &copy; 2015 <a href="javascript:void(0);" class="color-blue strong" target="_blank">Cashmi</a> by The Bam Method Limited. All rights reserved.
    </p>
    <p class="pull-right">
      <a href="#" class="mr5">Terms of use</a>
      |
      <a href="#" class="ml5 mr25">Privacy police</a>
    </p>
  </div>
  <!-- End #footer  -->
</div>
<!-- / #wrapper -->
<!-- Back to top -->
<div id="back-to-top"><a href="#">Back to Top</a>
</div>
<!--[if lt IE 9]>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</body>