<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<body>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- .#header -->
<%= render 'admin/navigation' %>
<div id="wrapper">
  <!-- #wrapper -->

  <%= render 'admin/sidebar' %>

  <!-- End #right-sidebar -->
  <!--Body content-->
  <div id="content" class="page-content clearfix">
    <div class="contentwrapper">
      <!--Content wrapper-->
      <div class="heading">
        <!--  .heading-->
        <h3>Dashboard</h3>

        <div class="resBtnSearch">
          <a href="#"><span class="s16 icomoon-icon-search-3"></span></a>
        </div>

        <ul class="breadcrumb">
          <li>You are here:</li>
          <li>
            <a href="#" class="tip" title="back to dashboard">
              <i class="s16 icomoon-icon-screen-2"></i>
            </a>
                                <span class="divider">
                <i class="s16 icomoon-icon-arrow-right-3"></i>
            </span>
          </li>
          <li class="active">Blank Page</li>
        </ul>
      </div>
      <!-- End  / heading-->
      <div class="row">
        <!-- .row -->
        <div class="col-md-12">
          <!-- col-md-8 start here -->
          <div class="row">
            <!-- .row start -->
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <!-- .col-md-3 -->
              <a href="<%= borrowers_show_path %>" title="I`m with gradient" class="stats-btn tipB mb20">
                <i class="icon icomoon-icon-users"></i>
                <span class="txt">Borrowers</span>
                <span class="notification">5</span>
              </a>
            </div>
            <!-- / .col-md-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <!-- .col-md-3 -->
              <a href="<%= lenders_show_path %>" class="stats-btn mb20">
                <i class="icon silk-icon-office"></i>
                <span class="txt">Lenders</span>
                <span class="notification blue">12</span>
              </a>
            </div>
            <!-- / .col-md-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <!-- .col-md-3 -->
              <a href="<%= active_borrowers_path %>" title="I`m with pattern" class="stats-btn pattern tipB mb20">
                <!--<i class="icon icomoon-icon-bubbles-2"></i>-->
                <i class="icon cut-icon-mobile-2"></i>
                <span class="txt">Active Application</span>
                <span class="notification green">23</span>
              </a>
            </div>
            <!-- / .col-md-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <!-- .col-md-3 -->
              <a href="<%= pending_applications_path %>" class="stats-btn mb20">
                <i class="icon fa fa-pause"></i>
                <span class="txt">Pending Applications</span>
                <span class="notification">+5</span>
              </a>
            </div>
            <!-- / .col-md-3 -->
          </div>
          <!-- / .row -->
        </div>
        <!-- col-md-8 end here -->
      </div>


      <div class="row">
        <!-- .row -->
        <div class="col-md-12">
          <!-- col-md-8 start here -->
          <div class="row">
            <!-- .row start -->
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <!-- .col-md-3 -->
              <a href="<%= confirmed_applications_path %>" title="I`m with gradient" class="stats-btn tipB mb20">
                <i class="icon icomoon-icon-thumbs-up-2"></i>
                <span class="txt">Confirmed Loan </span>
                <span class="notification">55</span>
              </a>
            </div>
            <!-- / .col-md-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <!-- .col-md-3 -->
              <a href="<%= chats_path %>" class="stats-btn mb20">
                <i class="icon icomoon-icon-bubbles-2"></i>
                <span class="txt">Chat</span>
                <span class="notification blue">10</span>
              </a>
            </div>
            <!-- / .col-md-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <!-- .col-md-3 -->
              <a href="<%= tickets_show_path %>" title="I`m with pattern" class="stats-btn pattern tipB mb20">
                <!--<i class="icon icomoon-icon-support"></i>-->
                <i class="icon icomoon-icon-ticket"></i>
                <span class="txt">Support tickets</span>
                <span class="notification green">13</span>
              </a>
            </div>
            <!-- / .col-md-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <!-- .col-md-3 -->
              <a href="<%= admins_show_path %>" class="stats-btn mb20">
                <i class="icon wpzoom-user-2 "></i>
                <span class="txt">Admins</span>
                <span class="notification">+2</span>
              </a>
            </div>
            <!-- / .col-md-3 -->
          </div>
          <!-- / .row -->
        </div>
        <!-- col-md-8 end here -->
      </div>
      <!-- / .row -->
      <div class="row">
        <!-- .row start -->
        <div class="col-md-8">
          <!-- col-md-8 start here -->
          <div class="panel panel-default chart">
            <div class="panel-heading">
              <h4 class="panel-title">
                <i class="s16 icomoon-icon-bars"></i>
                <span>Loans Applied vs Loans Approved </span>
              </h4>
            </div>
            <div class="panel-body">
              <div class="visitors-chart mt15 mb15" style="height: 230px; width:100%;"></div>
              <div class="row">
                <!-- .row start -->
                <div class="col-md-3 col-md-3 col-sm-3 col-xs-6">
                  <!-- col-md-3 start here -->
                  <a href="#" class="chartShortcuts">
                    <span class="head">Total Applied</span>
                    <span class="number">509</span>
                  </a>
                </div>
                <!-- col-md-3 end here -->
                <div class="col-md-3 col-md-3 col-sm-3 col-xs-6">
                  <!-- col-md-3 start here -->
                  <a href="#" class="chartShortcuts">
                    <span class="head">Total Approved</span>
                    <span class="number">309</span>
                  </a>
                </div>
                <!-- col-md-3 end here -->
                <div class="col-md-3 col-md-3 col-sm-3 col-xs-6">
                  <!-- col-md-3 start here -->
                  <a href="#" class="chartShortcuts">
                    <span class="head">Total Pending</span>
                    <span class="number">109</span>
                  </a>
                </div>
                <!-- col-md-3 end here -->

                <!-- col-md-3 end here -->
              </div>
              <!-- / .row -->
            </div>
          </div>
          <!-- End .panel -->
          <div class="row">
            <!-- .row start -->
            <div class="col-md-6">
              <!-- col-md-6 start here -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <span class="s16 icomoon-icon-pie"></span>
                    <span>Borrower overview</span>
                  </h4>
                </div>
                <div class="panel-body">
                  <div class="pieStats" style="height: 221px; width:100%;"></div>
                </div>
              </div>
              <!-- End .panel -->

            </div>
            <!-- col-md-6 end here -->
            <div class="col-md-6 ">

              <div class="panel panel-default toggle panelMove panelClose panelRefresh">
                <!-- Start .panel -->
                <div class="panel-heading">
                  <h4 class="panel-title"><i class="im-target"></i> Geolocation</h4>
                </div>
                <div class="panel-body">
                  <!--<div id="gmap-geolocation" style="width:100%;height:300px;"></div>-->
                  <div id="panel" class="map-btns">
                    <button onClick="toggleHeatmap()">Toggle Heatmap</button>
                    <button onClick="changeGradient()">Change gradient</button>
                    <button onClick="changeRadius()">Change radius</button>
                    <button onClick="changeOpacity()">Change opacity</button>
                  </div>

                  <div id="map-canvas" style="height:300px; width:100%;"></div>

                </div>
              </div>

              <!-- / .panel -->
            </div>
            <!-- col-md-6 end here -->
          </div>
          <!-- / .row -->
        </div>
        <!-- col-md-8 end here -->
        <div class="col-md-4">
          <!-- col-md-4 start here -->
          <div class="sparkStats mb25">
            <!-- .sparkStats -->
            <h4>Cashmi Key Statistics
              <div id="reportrange" class="pull-right" style=" cursor: pointer; width: 100%">
                <div class="input-daterange input-group">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  <input type="text" class="form-control" name="start"/>
                  <span class="input-group-addon">to</span>
                  <input type="text" class="form-control" name="end"/>
                </div>
              </div>
            </h4>
            <ul class="list-unstyled">
              <li><span class="sparkLine1 "></span> New Borrowers: <span class="number">509</span>
              </li>
              <li>
                <span class="sparkLine2"></span>
                New Lenders:
                <span class="number">389</span>
              </li>
              <li><span class="sparkLine3"></span> No. of Loans Applied:
                <span class="number">731</span>
              </li>
              <li><span class="sparkLine4"></span>
                Loan Total $ Applied:
                <span class="number">1444</span>
              </li>
              <li><span class="sparkLine5"></span>
                No. of Loans Approved:
                <span class="number">521</span>
              </li>
              <li><span class="sparkLine6"></span>
                Loan Total $ Approved: <span class="number">683</span>
              </li>
              <!-- <li><span class="sparkLine7"></span>
                   % New Visits:
                   <span class="number">76.23%</span>
               </li>-->
            </ul>
            <div class="pt15">
              <a href="charts.html" class="btn btn-info">View full statistic
                <i class="s16 icomoon-icon-arrow-right-3 color-white"></i></a>
            </div>
          </div>
          <!-- End .sparkStats -->
          <div class="reminder mb25">
            <!-- .reminder -->
            <h4>Stuff you need to do
              <!--<a href="#" class="icon tip pull-right mr15" title="Configure"><span class="s16 icomoon-icon-cog-2 mr0"></span></a> -->
            </h4>
            <ul>
              <li class="clearfix">
                <div class="icon">
                  <span class="s32 icomoon-icon-basket color-gray"></span>
                </div>
                <span class="number">7</span>
                <span class="txt">Open Tickets</span>
                <a class="btn btn-warning">go</a>
              </li>
              <li class="clearfix">
                <div class="icon">
                  <span class="s32 icomoon-icon-flag color-red"></span>
                </div>
                <span class="number">3</span>
                <span class="txt">Flagged converstations </span>
                <a class="btn btn-warning">go</a>
              </li>
              <li class="clearfix">
                <div class="icon">
                  <span class="s32 fa fa-pause color-green"></span>
                </div>
                <span class="number">5</span>
                <span class="txt">Pending Lender application </span>
                <a class="btn btn-warning">go</a>
              </li>
              <li class="clearfix">
                <div class="icon">
                  <span class="s32 fa fa-bar-chart-o color-blue"></span>
                </div>
                <span class="number">13</span>
                <span class="txt">Bad Lender Rating</span>
                <a class="btn btn-warning">go</a>
              </li>

            </ul>
          </div>
          <!-- End .reminder -->

        </div>
        <!-- col-md-4 end here -->
      </div>
      <!-- / .row -->
    </div>
    <!-- End contentwrapper -->
  </div>
  <!-- End #content -->
  <div id="footer" class="clearfix sidebar-page">
    <!-- Start #footer  -->
    <p class="pull-left">
      Copyrights &copy; 2015 <a href="javascript:void(0);" class="color-blue strong" target="_blank">Cashmi</a> by The
      Bam Method Limited. All rights reserved.
    </p>

    <p class="pull-right">
      <a href="#" class="mr5">Terms of use</a>
      |
      <a href="#" class="ml5 mr25">Privacy police</a>
    </p>
  </div>
  <!-- End #footer  -->
</div>
<!-- / #wrapper -->
<!-- Back to top -->
<div id="back-to-top"><a href="#">Back to Top</a>
</div>
<!-- Javascripts -->
<!-- Load pace first -->

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>
<script>
    // Adding Data Points
    var map, pointarray, heatmap;

    var taxiData = [
        new google.maps.LatLng(1.27996579, 103.85057896),
        new google.maps.LatLng(1.27978344, 103.85047167),
        new google.maps.LatLng(1.27961182, 103.85034292),
        new google.maps.LatLng(1.27940803, 103.85021417),
        new google.maps.LatLng(1.27926859, 103.85016053),
        new google.maps.LatLng(1.27912915, 103.8500747),
        new google.maps.LatLng(1.2789468, 103.84996741),
        new google.maps.LatLng(1.27876446, 103.84986012),
        new google.maps.LatLng(1.27859284, 103.84975283),
        new google.maps.LatLng(1.27839977, 103.84962409),
        new google.maps.LatLng(1.27817452, 103.84949534),
        new google.maps.LatLng(1.27792782, 103.8493666),
        new google.maps.LatLng(1.27765966, 103.84920566),
        new google.maps.LatLng(1.27743441, 103.849034),
        new google.maps.LatLng(1.27727352, 103.84894817),
        new google.maps.LatLng(1.2771448, 103.84886234),
        new google.maps.LatLng(1.27696246, 103.8487336),
        new google.maps.LatLng(1.27678011, 103.84861558),
        new google.maps.LatLng(1.27657632, 103.8484761),
        new google.maps.LatLng(1.27637252, 103.84833663),
        new google.maps.LatLng(1.2762009, 103.8482508),
        new google.maps.LatLng(1.27602928, 103.84814351),
        new google.maps.LatLng(1.27579331, 103.84799331),
        new google.maps.LatLng(1.27562169, 103.84788602),
        new google.maps.LatLng(1.27547152, 103.847768),
        new google.maps.LatLng(1.27526772, 103.84766071),
        new google.maps.LatLng(1.27506393, 103.84752124),
        new google.maps.LatLng(1.27490303, 103.84738176),
        new google.maps.LatLng(1.27465633, 103.84723156),

        new google.maps.LatLng(1.2872702, 103.84589914),
        new google.maps.LatLng(1.28700205, 103.84572748),
        new google.maps.LatLng(1.28680898, 103.84556655),
        new google.maps.LatLng(1.28658373, 103.8453627),
        new google.maps.LatLng(1.28636921, 103.84520177),
        new google.maps.LatLng(1.28614396, 103.84500865),
        new google.maps.LatLng(1.28595089, 103.84484771),
        new google.maps.LatLng(1.28573636, 103.84469751),
        new google.maps.LatLng(1.28559693, 103.84452585),
        new google.maps.LatLng(1.28535022, 103.84436492),
        new google.maps.LatLng(1.28515715, 103.84418253),
        new google.maps.LatLng(1.28498554, 103.84404305),
        new google.maps.LatLng(1.28485691, 103.84388953),
        new google.maps.LatLng(1.28451367, 103.84363203),
        new google.maps.LatLng(1.28425625, 103.84335308),
        new google.maps.LatLng(1.28393446, 103.84307413),
        new google.maps.LatLng(1.28356977, 103.84281664),
        new google.maps.LatLng(1.28329089, 103.84258061),
        new google.maps.LatLng(1.28311927, 103.84238749),
        new google.maps.LatLng(1.28281894, 103.84215145),
        new google.maps.LatLng(1.28258297, 103.84195834),
        new google.maps.LatLng(1.28234699, 103.8417223),
        new google.maps.LatLng(1.28206401, 103.84151816),
        new google.maps.LatLng(1.28169932, 103.84121776),
        new google.maps.LatLng(1.28137754, 103.84098172),
        new google.maps.LatLng(1.28105575, 103.84072423),
        new google.maps.LatLng(1.28073397, 103.84042382),
        new google.maps.LatLng(1.28045509, 103.84018779),
        new google.maps.LatLng(1.28011185, 103.83986592),
        new google.maps.LatLng(1.27985442, 103.83962989),
        new google.maps.LatLng(1.27955409, 103.83943677),
        new google.maps.LatLng(1.2792323, 103.83917928)
    ];

    function initialize() {
        var mapOptions = {
            zoom: 14,
            center: new google.maps.LatLng(1.27996579, 103.85057896),
            mapTypeId: google.maps.MapTypeId.SATELLITE
        };

        map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);

        var pointArray = new google.maps.MVCArray(taxiData);

        heatmap = new google.maps.visualization.HeatmapLayer({
            data: pointArray
        });

        heatmap.setMap(map);
    }

    function toggleHeatmap() {
        heatmap.setMap(heatmap.getMap() ? null : map);
    }

    function changeGradient() {
        var gradient = [
            'rgba(0, 255, 255, 0)',
            'rgba(0, 255, 255, 1)',
            'rgba(0, 191, 255, 1)',
            'rgba(0, 127, 255, 1)',
            'rgba(0, 63, 255, 1)',
            'rgba(0, 0, 255, 1)',
            'rgba(0, 0, 223, 1)',
            'rgba(0, 0, 191, 1)',
            'rgba(0, 0, 159, 1)',
            'rgba(0, 0, 127, 1)',
            'rgba(63, 0, 91, 1)',
            'rgba(127, 0, 63, 1)',
            'rgba(191, 0, 31, 1)',
            'rgba(255, 0, 0, 1)'
        ]
        heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
    }

    function changeRadius() {
        heatmap.set('radius', heatmap.get('radius') ? null : 20);
    }

    function changeOpacity() {
        heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    $(".input-daterange").datepicker();

</script>


</body>