<body>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<%= render 'admin/navigation' %>
<div id="wrapper">
  <!-- #wrapper -->
  <%= render 'admin/sidebar' %>

  <!--Body content-->
  <div id="content" class="page-content clearfix">
    <div class="contentwrapper">
      <!--Content wrapper-->
      <div class="heading">
        <!--  .heading-->
        <h3>Rating Summary Dashboard</h3>
        <div class="resBtnSearch">
          <a href="#"><span class="s16 icomoon-icon-search-3"></span></a>
        </div>

        <ul class="breadcrumb">
          <li>You are here:</li>
          <li>
            <a href="#" class="tip" title="back to dashboard">
              <i class="s16 icomoon-icon-screen-2"></i>
            </a>
                                <span class="divider">
                <i class="s16 icomoon-icon-arrow-right-3"></i>
            </span>
          </li>
          <li class="active">Blank Page</li>
        </ul>
      </div>
      <!-- End  / heading-->
      <!-- Start .row -->
      <div class="row">
        <div class="col-md-6 sortable-layout">
          <!-- col-md-6 start here -->
          <div class="panel panel-default toggle panelClose panelRefresh panelMove">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title"><i class="icomoon-icon-star-5"></i> Negative Ratings</h4>
            </div>
            <div class="panel-body">
              <ul class="list-group recent-comments">
                <li class="list-group-item clearfix comment-success">
                  <div class="avatar pull-left mr15">
                    <img src="img/avatars/2.jpg" alt="avatar">
                  </div>
                  <p class="text-ellipsis"><span class="name strong">Ben Simpson: </span> Very happy with your support is really great, keep that quality.</p>
                  <div class="star-rating-main">
                    <span class="date text-muted small pull-left">Dec 18, 2014, 4:24 pm</span>
                    <div class="star-rating">
                      <div class="rating-icons">
                        <i class="icomoon-icon-star-6"></i>
                        <i class="icomoon-icon-star-6"></i>
                        <i class="icomoon-icon-star-6"></i>
                        <i class="icomoon-icon-star-6"></i>
                        <i class="icomoon-icon-star-5"></i>
                      </div>
                      <a href="javascript:void(0);" class="see-more small view-rating-btn">View Rating</a>
                    </div>
                  </div>
                </li>
                <li class="list-group-item clearfix comment-default">
                  <div class="avatar pull-left mr15">
                    <img src="img/avatars/3.jpg" alt="avatar">
                  </div>
                  <p class="text-ellipsis"><span class="name strong">Jonh: </span> Fine items but you could invest more time.</p>
                  <div class="star-rating-main">
                    <span class="date text-muted small pull-left">Dec 18, 2014, 12:11 pm</span>
                    <div class="star-rating">
                      <div class="rating-icons">
                        <i class="icomoon-icon-star-6"></i>
                        <i class="icomoon-icon-star-6"></i>
                        <i class="icomoon-icon-star-6"></i>
                        <i class="icomoon-icon-star-6"></i>
                        <i class="icomoon-icon-star-5"></i>
                      </div>
                      <a href="javascript:void(0);" class="see-more small view-rating-btn">View Rating</a>
                    </div>
                  </div>
                </li>
                <li class="list-group-item clearfix comment-info">
                  <div class="avatar pull-left mr15">
                    <img src="img/avatars/4.jpg" alt="avatar">
                  </div>
                  <p class="text-ellipsis"><span class="name strong">Dina Dowsen: </span> Awesome items, really fast delivery.</p>
                  <div class="star-rating-main">
                    <span class="date text-muted small pull-left">Dec 18, 2014, 8:17 pm</span>
                    <div class="star-rating">
                      <div class="rating-icons">
                        <i class="icomoon-icon-star-6"></i>
                        <i class="icomoon-icon-star-6"></i>
                        <i class="icomoon-icon-star-6"></i>
                        <i class="icomoon-icon-star-6"></i>
                        <i class="icomoon-icon-star-5"></i>
                      </div>
                      <a href="javascript:void(0);" class="see-more small view-rating-btn">View Rating</a>
                    </div>
                  </div>
                </li>
                <li class="list-group-item clearfix comment-warning">
                  <div class="avatar pull-left mr15">
                    <img src="img/avatars/5.jpg" alt="avatar">
                  </div>
                  <p class="text-ellipsis"><span class="name strong">Matt: </span> I`m not impressed but is fine.</p>
                  <div class="star-rating-main">
                    <span class="date text-muted small pull-left">Dec 17, 2014, 6:24 pm</span>
                    <div class="star-rating">
                      <div class="rating-icons">
                        <i class="icomoon-icon-star-6"></i>
                        <i class="icomoon-icon-star-6"></i>
                        <i class="icomoon-icon-star-6"></i>
                        <i class="icomoon-icon-star-6"></i>
                        <i class="icomoon-icon-star-5"></i>
                      </div>
                      <a href="javascript:void(0);" class="see-more small view-rating-btn">View Rating</a>
                    </div>
                  </div>
                </li>
                <!--<li class="list-group-item clearfix comment-danger">
                    <div class="avatar pull-left mr15">
                        <img src="img/avatars/6.jpg" alt="avatar">
                    </div>
                    <p class="text-ellipsis"><span class="name strong">Ben Simpson: </span> This is worst item i ever seen.</p>
                    <div class="star-rating-main">
                    <span class="date text-muted small pull-left">Dec 16, 2014, 1:20 pm</span>
                    <div class="star-rating">
                          <div class="rating-icons">
                              <i class="icomoon-icon-star-6"></i>
                              <i class="icomoon-icon-star-6"></i>
                              <i class="icomoon-icon-star-6"></i>
                              <i class="icomoon-icon-star-6"></i>
                              <i class="icomoon-icon-star-5"></i>
                          </div>
                        <a href="javascript:void(0);" class="see-more small view-rating-btn">View Rating</a>
                        </div>
                    </div>
                </li>-->
              </ul>
            </div>
          </div>
          <!-- End .panel -->





        </div>
        <!-- col-md-6 end here -->
        <div class="col-md-6 sortable-layout">
          <!-- col-md-6 start here -->


          <div class="panel panel-default toggle panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title"><i class="s16 icomoon-icon-bars"></i> Ratings Chart</h4>
            </div>
            <div class="panel-body">
              <div class="visitors-chart mt15 mb15" style="height: 278px; width:100%;"></div>
              <div class="row">
                <!-- .row start -->
                <div class="col-xs-6">
                  <!-- col-md-3 start here -->
                  <a href="#" class="chartShortcuts">
                    <span class="head">Total Lender</span>
                    <span class="number">509</span>
                  </a>
                </div>
                <!-- col-md-3 end here -->
                <div class="col-xs-6">
                  <!-- col-md-3 start here -->
                  <a href="#" class="chartShortcuts">
                    <span class="head">Total Borrower</span>
                    <span class="number">309</span>
                  </a>
                </div>
                <!-- col-md-3 end here -->
                <!--<div class="col-md-3 col-md-3 col-sm-3 col-xs-6">

                    <a href="#" class="chartShortcuts">
                        <span class="head">Total Pending</span>
                        <span class="number">109</span>
                    </a>
                </div>-->
                <!-- col-md-3 end here -->

                <!-- col-md-3 end here -->
              </div>
              <!-- / .row -->
            </div>
          </div>
          <!-- End .panel -->

        </div>
        <!-- col-md-6 end here -->
      </div>
      <!-- End .row -->

      <div class="row">
        <div class="col-lg-12">
          <!-- col-lg-12 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Rating Summary Datatable</h4>

              <div class="table-top-add-tools-btn">

                <div class="btn-group dropdown mr5">
                  <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button" aria-expanded="false">
                    <i class="fa fa-gears"></i> Tools
                    <span class="caret"></span>
                  </button>
                  <ul role="menu" class="dropdown-menu animated fadeIn" style="margin-left: -49px;">

                    <li>
                      <a href="#"><i class="fa fa-trash-o"></i> Delete</a>
                    </li>


                  </ul>
                </div>
              </div>

            </div>
            <div class="panel-body cstm-table">
              <table id="tabletools" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                  <th class="sort-n"><div class="checkbox-custom">
                    <input class="check-all" type="checkbox" id="masterCheck" value="option1">
                    <label for="masterCheck"></label>
                  </div></th>
                  <th>Loan ID</th>
                  <th>Borrower Name</th>
                  <th>Lender Name</th>
                  <th>Rating</th>
                  <th>For Who</th>
                  <th>Status</th>
                  <th class="last-act">Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                  <th></th>
                  <th>Loan ID</th>
                  <th>Borrower Name</th>
                  <th>Lender Name</th>
                  <th>Rating</th>
                  <th>For Who</th>
                  <th>Status</th>
                  <th class="last-act">Actions</th>
                </tr>
                </tfoot>
                <tbody>
                <% @ratings.each_with_index do |rating, index| %>
                    <tr>
                      <td><div class="checkbox-custom">
                        <input id="check" class="check" type="checkbox" value="option2">
                        <label for="check"></label>
                      </div></td>
                      <td><%= index %></td>
                      <td><%= rating.from_user_id %></td>
                      <td><%= rating.to_user_id %></td>
                      <td><div class="rating-icons">
                        <%= rating.rate.to_i.times do |index| %>
                            <i class="icomoon-icon-star-6"></i>
                        <% end %>
                      </div></td>
                      <td><%= rating.rate_text %></td>
                      <td><%= rating.rating_status %></td>
                      <td>
                        <div class="table-btns">
                          <ul>
                            <li><a href="javascript:void(0);"  title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." class="edt-btn tipB" >Chat</a></li>
                            <li><a href="javascript:void(0);" class="view-btn">Delete</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
      </div>
      <!-- End .row -->

    </div>
    <!-- End contentwrapper -->
  </div>
  <!-- End #content -->
  <div id="footer" class="clearfix sidebar-page">
    <!-- Start #footer  -->
    <p class="pull-left">
      Copyrights &copy; 2015 <a href="javascript:void(0);" class="color-blue strong" target="_blank">Cashmi</a> by The Bam Method Limited. All rights reserved.
    </p>
    <p class="pull-right">
      <a href="#" class="mr5">Terms of use</a>
      |
      <a href="#" class="ml5 mr25">Privacy police</a>
    </p>
  </div>
  <!-- End #footer  -->
</div>
<!-- / #wrapper -->
<!-- Back to top -->
<div id="back-to-top"><a href="#">Back to Top</a>
</div>
<!-- Javascripts -->
<script>
    window.jQuery || document.write('<script src="js/libs/jquery-2.1.1.min.js">\x3C/script>')
</script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
    window.jQuery || document.write('<script src="js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
</script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script>
    window.jQuery || document.write('<script src="js/libs/jquery-migrate-1.2.1.min.js">\x3C/script>')
</script>
</body>