<body>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<%= render 'admin/navigation' %>
<div id="wrapper">
  <!-- #wrapper -->
  <%= render 'admin/sidebar' %>

  <!--Body content-->
  <div id="content" class="page-content clearfix">
    <div class="contentwrapper">
      <!--Content wrapper-->
      <div class="heading">
        <!--  .heading-->
        <h3>Settings</h3>
        <div class="resBtnSearch">
          <a href="#"><span class="s16 icomoon-icon-search-3"></span></a>
        </div>

        <ul class="breadcrumb">
          <li>You are here:</li>
          <li>
            <a href="#" class="tip" title="back to dashboard">
              <i class="s16 icomoon-icon-screen-2"></i>
            </a>
                                <span class="divider">
                <i class="s16 icomoon-icon-arrow-right-3"></i>
            </span>
          </li>
          <li class="active">Blank Page</li>
        </ul>
      </div>
      <!-- End  / heading-->
      <div class="row">
        <div class="col-lg-6 col-md-6 sortable-layout">
          <!-- col-lg-6 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Terms and Conditions</h4>
            </div>
            <div class="panel-body">
              <form action="<%= settings_save_terms_path %>" class="form-horizontal" method="post">
                <textarea class="form-control setting-text-area" rows="5" id="info" name="settings[terms_text]"><%= @terms.terms_text %></textarea>
                <div class="setting-save-btn">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
        <div class="col-lg-6 col-md-6 sortable-layout">
          <!-- col-lg-6 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Privacy Policy</h4>
            </div>
            <div class="panel-body">
              <form action="<%= settings_save_privacy_path %>" class="form-horizontal" method="post">
                <textarea class="form-control setting-text-area" rows="5" id="info2" name="settings[privacy_text]"><%= @privacy.privacy_text %></textarea>
                <div class="setting-save-btn">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
      </div>
      <!-- End .row -->
      <div class="row">
        <div class="col-lg-6 col-md-6 sortable-layout">
          <!-- col-lg-6 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Singapore Max Effective Interest Rate</h4>
            </div>
            <div class="panel-body">
              <form action="#" class="form-horizontal">

                <div class="form-group clearfix">

                  <div class="col-md-12">
                    <input type="text" id="slider-primary">
                  </div>
                </div>
                <!-- End .form-group  -->
              </form>
              <div class="setting-save-btn">
                <a type="subimt" class="btn btn-primary" href="#">Save</a>
              </div>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
        <div class="col-lg-6 col-md-6 sortable-layout">
          <!-- col-lg-6 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Hong Kong Max Effective Interest Rate</h4>
            </div>
            <div class="panel-body">
              <form action="#" class="form-horizontal">

                <div class="form-group">
                  <div class="col-md-12">
                    <input type="text" id="slider-primary2">
                  </div>
                </div>
                <!-- End .form-group  -->
              </form>
              <div class="setting-save-btn">
                <a type="subimt" class="btn btn-primary" href="#">Save</a>
              </div>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
      </div>
      <!-- End .row -->

    </div>
    <!-- End contentwrapper -->
  </div>
  <!-- End #content -->
  <div id="footer" class="clearfix sidebar-page">
    <!-- Start #footer  -->
    <p class="pull-left">
      Copyrights &copy; 2015 <a href="javascript:void(0);" class="color-blue strong" target="_blank">Cashmi</a> by The Bam Method Limited. All rights reserved.
    </p>
    <p class="pull-right">
      <a href="#" class="mr5">Terms of use</a>
      |
      <a href="#" class="ml5 mr25">Privacy police</a>
    </p>
  </div>
  <!-- End #footer  -->
</div>
<!-- / #wrapper -->
<!-- Back to top -->
<div id="back-to-top"><a href="#">Back to Top</a>
</div>
<!--[if lt IE 9]>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--<script src="js/pages/sliders.js"></script>-->
<script>
    //Primary color slider
    $("#slider-primary").bootstrapSlider({
        id: 'slider-primary',
        min:0,
        max: 100,
        value: 80
    });
    $("#slider-primary2").bootstrapSlider({
        id: 'slider-primary',
        min:0,
        max: 100,
        value: 90
    });

</script>
</body>