<body>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<%= render 'admin/navigation' %>
<div id="wrapper">
  <!-- #wrapper -->
  <%= render 'admin/sidebar' %>

  <!--Body content-->
  <div id="content" class="page-content clearfix">
    <div class="contentwrapper">
      <!--Content wrapper-->
      <div class="heading">
        <!--  .heading-->
        <h3>View Ticket</h3>

        <div class="resBtnSearch">
          <a href="#"><span class="s16 icomoon-icon-search-3"></span></a>
        </div>

        <ul class="breadcrumb">
          <li>You are here:</li>
          <li>
            <a href="#" class="tip" title="back to dashboard">
              <i class="s16 icomoon-icon-screen-2"></i>
            </a>
                                <span class="divider">
                <i class="s16 icomoon-icon-arrow-right-3"></i>
            </span>
          </li>
          <li class="active">Blank Page</li>
        </ul>
      </div>
      <!-- End  / heading-->
      <!-- Start .row -->
      <div class="row">
        <div class="col-md-6 sortable-layout">
          <!-- col-md-6 start here -->

          <div class="panel panel-default toggle panelClose panelRefresh panelMove">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title"><i class="s16 icomoon-icon-ticket"></i> Ticket ID 123456</h4>
            </div>
            <div class="panel-body">
              <ul class="messages">
                <!-- Messages -->
                <li class="user clearfix">
                  <a href="#" class="avatar">
                    <%= image_tag "avatars/2.jpg" %>
                  </a>

                  <div class="message">
                    <div class="head clearfix">
                      <span class="name"><strong><%= @ticket.user_id %></strong> says:</span>
                      <span class="time"><%= @ticket.created_time %></span>
                    </div>
                    <p>
                      <%= @ticket.subject %>
                    </p>
                  </div>
                </li>
                <li class="admin clearfix">
                  <a href="#" class="avatar">
                    <%= image_tag "avatars/3.jpg" %>
                  </a>

                  <div class="message">
                    <div class="head clearfix">
                      <span class="name"><strong>Sugge</strong> says:</span>
                      <span class="time">just now</span>
                    </div>
                    <p>
                      OK, have a nice day.
                    </p>
                  </div>
                </li>
                <li class="sendMsg">
                  <form class="form-horizontal" action="#">
                    <textarea class="elastic form-control" id="textarea" rows="3" placeholder="Enter your message ..."></textarea>
                    <button type="submit" class="btn btn-info mt10">Send message</button>
                  </form>
                </li>
                <li>
                  <div class="form-group mark-ticket">
                    <div class="toggle-custom wd-set">
                      <label data-off="CLOSED" data-on="OPEN" class="toggle">
                        <input type="checkbox" checked="" name="checkbox-toggle" id="checkbox-toggle">
                        <span class="button-checkbox"></span>
                      </label>
                      <!--<label for="checkbox-toggle">Checked</label>-->
                    </div>
                  </div>
                  <!-- End .form-group  -->
                </li>
              </ul>
              <!-- / Messages -->
            </div>
          </div>
          <!-- End .panel -->


        </div>
        <!-- col-md-6 end here -->

      </div>
      <!-- End .row -->
    </div>
    <!-- End contentwrapper -->
  </div>
  <!-- End #content -->
  <div id="footer" class="clearfix sidebar-page">
    <!-- Start #footer  -->
    <p class="pull-left">
      Copyrights &copy; 2015 <a href="javascript:void(0);" class="color-blue strong" target="_blank">Cashmi</a> by The
      Bam Method Limited. All rights reserved.
    </p>

    <p class="pull-right">
      <a href="#" class="mr5">Terms of use</a>
      |
      <a href="#" class="ml5 mr25">Privacy police</a>
    </p>
  </div>
  <!-- End #footer  -->
</div>
<!-- / #wrapper -->
<!-- Back to top -->
<div id="back-to-top"><a href="#">Back to Top</a>
</div>
<!--[if lt IE 9]>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</body>