<body>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<%= render 'admin/navigation' %>
<div id="wrapper">
  <!-- #wrapper -->
  <%= render 'admin/sidebar' %>

  <!--Body content-->
  <div id="content" class="page-content clearfix">
    <div class="contentwrapper">
      <!--Content wrapper-->
      <div class="heading">
        <!--  .heading-->
        <h3>Helpdesk Ticketing</h3>
        <div class="resBtnSearch">
          <a href="#"><span class="s16 icomoon-icon-search-3"></span></a>
        </div>

        <ul class="breadcrumb">
          <li>You are here:</li>
          <li>
            <a href="#" class="tip" title="back to dashboard">
              <i class="s16 icomoon-icon-screen-2"></i>
            </a>
                                <span class="divider">
									<i class="s16 icomoon-icon-arrow-right-3"></i>
								</span>
          </li>
          <li class="active">Blank Page</li>
        </ul>
      </div>
      <!-- End  / heading-->
      <!-- Start .row -->
      <div class="row">
        <div class="col-md-12 sortable-layout">
          <!-- col-md-6 start here -->
          <div class="panel panel-default toggle panelClose panelRefresh panelMove">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title"><i class="icomoon-icon-ticket"></i> Open Tickets</h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6"><ul class="list-group recent-comments">
                  <li class="list-group-item clearfix comment-success">
                    <div class="avatar pull-left mr15">
                      <img src="img/avatars/2.jpg" alt="avatar">
                    </div>
                    <p class="text-ellipsis"><span class="name strong">Ben Simpson: </span> Very happy with your support is really great, keep that quality.</p>
                    <span class="date text-muted small pull-left">Dec 18, 2014, 4:24 pm</span>
                    <a href="view-ticket.html" class="see-more small pull-right">Go to Ticket</a>
                  </li>
                  <li class="list-group-item clearfix comment-default">
                    <div class="avatar pull-left mr15">
                      <img src="img/avatars/3.jpg" alt="avatar">
                    </div>
                    <p class="text-ellipsis"><span class="name strong">Jonh: </span> Fine items but you could invest more time.</p>
                    <span class="date text-muted small pull-left">Dec 18, 2014, 12:11 pm</span>
                    <a href="view-ticket.html" class="see-more small pull-right">Go to Ticket</a>
                  </li>
                  <li class="list-group-item clearfix comment-info">
                    <div class="avatar pull-left mr15">
                      <img src="img/avatars/4.jpg" alt="avatar">
                    </div>
                    <p class="text-ellipsis"><span class="name strong">Dina Dowsen: </span> Awesome items, really fast delivery.</p>
                    <span class="date text-muted small pull-left">Dec 18, 2014, 8:17 pm</span>
                    <a href="view-ticket.html" class="see-more small pull-right">Go to Ticket</a>
                  </li>
                  <li class="list-group-item clearfix comment-warning">
                    <div class="avatar pull-left mr15">
                      <img src="img/avatars/5.jpg" alt="avatar">
                    </div>
                    <p class="text-ellipsis"><span class="name strong">Matt: </span> I`m not impressed but is fine.</p>
                    <span class="date text-muted small pull-left">Dec 17, 2014, 6:24 pm</span>
                    <a href="view-ticket.html" class="see-more small pull-right">Go to Ticket</a>
                  </li>
                  <li class="list-group-item clearfix comment-danger">
                    <div class="avatar pull-left mr15">
                      <img src="img/avatars/6.jpg" alt="avatar">
                    </div>
                    <p class="text-ellipsis"><span class="name strong">Ben Simpson: </span> This is worst item i ever seen.</p>
                    <span class="date text-muted small pull-left">Dec 16, 2014, 1:20 pm</span>
                    <a href="view-ticket.html" class="see-more small pull-right">Go to Ticket</a>
                  </li>
                </ul></div>
                <div class="col-md-6"><ul class="list-group recent-comments">
                  <li class="list-group-item clearfix comment-success">
                    <div class="avatar pull-left mr15">
                      <img src="img/avatars/2.jpg" alt="avatar">
                    </div>
                    <p class="text-ellipsis"><span class="name strong">Ben Simpson: </span> Very happy with your support is really great, keep that quality.</p>
                    <span class="date text-muted small pull-left">Dec 18, 2014, 4:24 pm</span>
                    <a href="view-ticket.html" class="see-more small pull-right">Go to Ticket</a>
                  </li>
                  <li class="list-group-item clearfix comment-default">
                    <div class="avatar pull-left mr15">
                      <img src="img/avatars/3.jpg" alt="avatar">
                    </div>
                    <p class="text-ellipsis"><span class="name strong">Jonh: </span> Fine items but you could invest more time.</p>
                    <span class="date text-muted small pull-left">Dec 18, 2014, 12:11 pm</span>
                    <a href="view-ticket.html" class="see-more small pull-right">Go to Ticket</a>
                  </li>
                  <li class="list-group-item clearfix comment-info">
                    <div class="avatar pull-left mr15">
                      <img src="img/avatars/4.jpg" alt="avatar">
                    </div>
                    <p class="text-ellipsis"><span class="name strong">Dina Dowsen: </span> Awesome items, really fast delivery.</p>
                    <span class="date text-muted small pull-left">Dec 18, 2014, 8:17 pm</span>
                    <a href="view-ticket.html" class="see-more small pull-right">Go to Ticket</a>
                  </li>
                  <li class="list-group-item clearfix comment-warning">
                    <div class="avatar pull-left mr15">
                      <img src="img/avatars/5.jpg" alt="avatar">
                    </div>
                    <p class="text-ellipsis"><span class="name strong">Matt: </span> I`m not impressed but is fine.</p>
                    <span class="date text-muted small pull-left">Dec 17, 2014, 6:24 pm</span>
                    <a href="view-ticket.html" class="see-more small pull-right">Go to Ticket</a>
                  </li>
                  <li class="list-group-item clearfix comment-danger">
                    <div class="avatar pull-left mr15">
                      <img src="img/avatars/6.jpg" alt="avatar">
                    </div>
                    <p class="text-ellipsis"><span class="name strong">Ben Simpson: </span> This is worst item i ever seen.</p>
                    <span class="date text-muted small pull-left">Dec 16, 2014, 1:20 pm</span>
                    <a href="view-ticket.html" class="see-more small pull-right">Go to Ticket</a>
                  </li>
                </ul></div>
              </div>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-md-6 end here -->

      </div>
      <!-- End .row -->

      <div class="row">
        <div class="col-lg-12">
          <!-- col-lg-12 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Ticket Summary Datatable</h4>

              <div class="table-top-add-tools-btn">
                <a class="btn btn-info mr5" href="<%= tickets_new_path %>"><i class="fa fa-pencil"></i> Add</a>
                <div class="btn-group dropdown mr5">
                  <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button" aria-expanded="false">
                    <i class="fa fa-gears"></i> Tools
                    <span class="caret"></span>
                  </button>
                  <ul role="menu" class="dropdown-menu animated fadeIn" style="margin-left: -49px;">

                    <li>
                      <a href="#"><i class="fa fa-trash-o"></i> Delete</a>
                    </li>


                  </ul>
                </div>
              </div>

            </div>
            <div class="panel-body cstm-table">
              <table id="tabletools" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                  <th class="sort-n"><div class="checkbox-custom">
                    <input class="check-all" type="checkbox" id="masterCheck" value="option1">
                    <label for="masterCheck"></label>
                  </div></th>
                  <th>Ticket ID</th>
                  <th>User Name</th>
                  <th>Subject</th>
                  <th>Time</th>
                  <th>Status</th>
                  <th class="last-act">Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                  <th></th>
                  <th>Ticket ID</th>
                  <th>User Name</th>
                  <th>Subject</th>
                  <th>Time</th>
                  <th>Status</th>
                  <th class="last-act">Actions</th>
                </tr>
                </tfoot>
                <tbody>
                <% @tickets.each_with_index do |value, index| %>
                    <tr>
                      <td><div class="checkbox-custom">
                        <input id="check" class="check" type="checkbox" value="option<%= index %>">
                        <label for="check"></label>
                      </div></td>
                      <td><%= value.id %></td>
                      <td><%= value.user.name %></td>
                      <td><%= value.subject %></td>
                      <td><%= value.created_time %></td>
                      <td><%= value.ticket_status %></td>
                      <td>
                        <div class="table-btns">
                          <ul>
                            <li><a href="<%= tickets_edit_path value.id %>" class="edt-btn">View</a></li>
                            <li><a href="<%= tickets_delete_path value.id %>" class="view-btn">Delete</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
      </div>
      <!-- End .row -->

    </div>
    <!-- End contentwrapper -->
  </div>
  <!-- End #content -->
  <div id="footer" class="clearfix sidebar-page">
    <!-- Start #footer  -->
    <p class="pull-left">
      Copyrights &copy; 2015 <a href="javascript:void(0);" class="color-blue strong" target="_blank">Cashmi</a> by The Bam Method Limited. All rights reserved.
    </p>
    <p class="pull-right">
      <a href="#" class="mr5">Terms of use</a>
      |
      <a href="#" class="ml5 mr25">Privacy police</a>
    </p>
  </div>
  <!-- End #footer  -->
</div>
<!-- / #wrapper -->
<!-- Back to top -->
<div id="back-to-top"><a href="#">Back to Top</a>
</div>
<!-- Javascripts -->
<!-- Load pace first -->
<script src="plugins/core/pace/pace.min.js"></script>
<!-- Important javascript libs(put in all pages) -->
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
    window.jQuery || document.write('<script src="js/libs/jquery-2.1.1.min.js">\x3C/script>')
</script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
    window.jQuery || document.write('<script src="js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
</script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script>
    window.jQuery || document.write('<script src="js/libs/jquery-migrate-1.2.1.min.js">\x3C/script>')
</script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/libs/excanvas.min.js"></script>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script type="text/javascript" src="js/libs/respond.min.js"></script>
<![endif]-->
</body>