<!-- Init plugins olny for this page -->
<%= javascript_include_tag 'pages/login.js' %>

<body class="login-page">
<div id="header" class="animated fadeInDown">
  <div class="row">
    <div class="navbar">
      <div class="container text-center">
        <a class="mr5" href="index.html">
          <%= image_tag 'cashmilogo.png' %>
        </a>
      </div>
    </div>
    <!-- /navbar -->
  </div>
  <!-- End .row -->
</div>
<!-- End #header -->
<!-- Start login container -->
<div class="container login-container">
  <div class="login-panel panel panel-default plain animated bounceIn">
    <!-- Start .panel -->
    <div class="panel-body">
      <form class="form-horizontal mt0" action="<%= new_session_path(Admin) %>" id="login-form" role="form" method="post">
        <div class="form-group">
          <div class="col-md-12">
            <!-- col-md-12 start here -->
            <label for="">Username:</label>
          </div>
          <!-- col-md-12 end here -->
          <div class="col-lg-12">
            <div class="input-group input-icon">
              <input type="text" name="admin[email]" id="username" class="form-control" placeholder="Enter username ...">
              <span class="input-group-addon"><i class="icomoon-icon-user s16"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <!-- col-md-12 start here -->
            <label for="">Password:</label>
          </div>
          <!-- col-md-12 end here -->
          <div class="col-lg-12">
            <div class="input-group input-icon">
              <input type="password" name="admin[password]" id="password" class="form-control" placeholder="Your password">
              <span class="input-group-addon"><i class="icomoon-icon-lock s16"></i></span>
            </div>
            <span class="help-block text-right"><a href="lost-password.html">Forgout password ?</a></span>
          </div>
        </div>
        <div class="form-group mb0">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
            <div class="checkbox-custom">
              <input type="checkbox" name="remember" id="remember" value="option">
              <label for="remember">Remember me ?</label>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 mb25">
            <button class="btn btn-default pull-right" type="submit">Login</button>
          </div>
        </div>
      </form>
    </div>

  </div>
  <!-- End .panel -->
</div>
<!-- End login container -->
<div class="container">
  <div class="footer">
    <p class="text-center">Copyrights &copy; 2015
      <a target="_blank" class="color-blue strong" href="javascript:void(0);">Cashmi</a> by The Bam Method Limited. <br>
      All rights reserved.</p>
  </div>
</div>
</body>
