/* -----------------------------------------
   Custom.css - put your own changes here 
----------------------------------------- */

.navbar-brand > img {
  margin-top: 5px;
  max-width: 143px;
}
.borrow .number {
  float: right !important;
 
}
.borrow .list-unstyled img {
  margin-right: 30px;
  max-width: 30px;
  width: auto;
}
.hed span {
  display: inline-block;
  text-align: left;
  width: 57px;
}
.hed1 {
  float: left;
  width: 100%;
}
.hed1 span {
  float: left;
  width: auto;
}
.hed1 span:last-child {
  margin-left: 20px;
  text-align: center;
  width: 73%;
}
.borrow.ll .list-unstyled img {
  margin-right: 30px;
  max-width: 35px;
  
} 
.hed span:last-child {
  text-align: right;
}
.borrow hr {
  margin: 20px 0 10px;
}
.stats-btn {
  height: 100px !important;
  padding: 15px 0 0 !important;
  
}
 
.sparkStats.mb25 h4 {
  margin: 0;
}
#reportrange {
  margin-bottom: 10px;
}
.shrink-header .navbar-brand > img {
  height:36px;
}
.reminder .icon .fa {
  padding-top: 7px;
}
.sort-n:before {
  display: none;
}
.sort-n {
  width: 20px !important;
}
.cstm-table .checkbox-custom {
  width: 20px!important;
  display:inline-block;
}
.cstm-table #ToolTables_tabletools_0, .cstm-table #ToolTables_tabletools_4, .cstm-table #ToolTables_tabletools_5 {
  display: none!important;
}
.table-btns ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
.table-btns li {
	display:inline-block;
}
.sort-none {
  visibility: hidden;
}
.cstm-table td, .cstm-table th {
  text-align: center;
}
.table-btns li a {
  background: #ED7A53;
  border-radius: 4px;
  color: #ffffff;
  display: block;
  font-size: 12px;
  padding: 3px 7px;
}
.table-btns li a:hover, .table-btns li a:focus {
	text-decoration:none;
}
.table-btns li a.view-btn {
	background:#ED7A53;
}
.table-btns li a.edt-btn {
	background:#9FC569;
}
.table-top-add-tools-btn {
  float: right;
  padding: 4px 90px 0px 5px;
}
.table-top-add-tools-btn .btn {
  padding: 4px 12px;
}
.table-top-add-tools-btn .dropdown-menu {
  min-width: 125px;
}
.table-top-add-tools-btn .dropdown-menu li a {
  padding: 8px 10px;
}

div.toggle-custom.wd-set label.toggle {
  width: 110px;
}
div.toggle-custom.wd-set label.toggle::after, div.toggle-custom.wd-set label.toggle::before {
  font-size: 12px;
  line-height: 19px;
  width: 55px;
}
div.toggle-custom.wd-set label.toggle input[type="checkbox"] + .button-checkbox::after, div.toggle-custom.wd-set label.toggle input[type="radio"] + .button-checkbox::after, div.toggle-custom.wd-set label.toggle input[type="checkbox"] + .button-radio::after, div.toggle-custom.wd-set label.toggle input[type="radio"] + .button-radio::after {
  width: 50px;
}
div.toggle-custom.wd-set label.toggle input[type="checkbox"]:checked + .button-checkbox::after, div.toggle-custom.wd-set label.toggle input[type="radio"]:checked + .button-checkbox::after, div.toggle-custom.wd-set label.toggle input[type="checkbox"]:checked + .button-radio::after, div.toggle-custom.wd-set label.toggle input[type="radio"]:checked + .button-radio::after {
  left: 57px;
}


.map-btns {
  bottom: 14px;
  left: 15px;
  max-width: 90px;
  position: absolute;
  z-index: 99;
}
.map-btns button {
  background: rgba(0,0,0,.4);
  border: medium none;
  color: #ffffff;
  display: inline-block;
  font-size: 10px;
  margin: 1px 0;
  padding: 3px;
  width: 100%;
}

.sidenav .mainnav ul li .sub.dd-set li a i {
  margin: 0 !important;
  padding: 1px 0 0 13px !important;
}
#sidebar .sidenav .mainnav ul li .sub.dd-set li a span {
  font-size: 11px;
}
.view-chat-btm-btn {
  text-align: right;
}
#map_wrapper .info_content > h3 {
  margin-top: 5px;
  font-size: 14px;
  margin-bottom: 5px;
}

#map_wrapper .info_content  p {
  margin: 0;
  font-size: 13px;
}
.rating-icons i {
  color: #ed7a53;
  cursor: pointer;
  font-size: 12px;
  margin: 0;
}
.star-rating {
  float: right;
  text-align:center;
}
.cstm-table .rating-icons i {
  font-size: 11px;
  margin: 0 -1px;
}



#sidebar.collapse-sidebar .mainnav li.hover-li > ul.sub.dd-set li a span.txt {
  padding-left: 0;
}
#sidebar.collapse-sidebar .mainnav li.hover-li > ul.sub.dd-set li a {
  width: 200px;
  padding:10px 5px;
}
#sidebar.collapse-sidebar .mainnav li.hover-li > ul.sub.dd-set span.txt {
  left: 25px !important;
}
.alg-left {
  text-align: left;
}

.table.database-tbl > tbody > tr > td {
  padding: 8px 6px;
}

.hk-name {
  max-width: 170px;
}
.sg-name {
	max-width:230px;
}
.sg-add {
	max-width:275px;
}
.hk-cst {
  max-width: 150px;
}
.hk-cname {
  max-width: 160px;
}
.table.database-tbl .fancy-select.form-control {
  margin: 0;
  width: 100%;
}

.table.database-tbl div.fancy-select ul.options li {
	padding:2px 10px;
}
.hk-tbl .dataTables_wrapper.form-inline {
  padding: 0px 0 30px;
}
.mlr-no-wd {
  min-width: 65px;
}
.licence-no-wd {
	min-width:90px;
}
.cstm-table .database-tbl td, .cstm-table .database-tbl th {
  vertical-align: middle !important;
}
.setting-save-btn {
  padding: 10px 0 0;
  text-align: right;
}
.setting-text-area {
	resize:none;
}
.cur-p {
	cursor:pointer;
}
.ht-set {
	padding:11px 0px;
}

.valign .table th, .valign .table td {
  vertical-align: middle;
}
.valign .table-btns li:first-child {
  margin-bottom: 5px;
}
/*#wrapper #sidebar .sidebar-inner {
  margin-top: 0;
}*/
#wrapper #sidebar {
  padding-top: 18px;
}
a.mr5 img {
  margin: 5px 0;
  max-width: 145px;
}
.mrt-15 {
  margin-top: 15px;
}
.mark-ticket div.toggle-custom {
  margin-bottom: 0;
}
.form-group.mark-ticket {
  margin: 0;
}
#wrapper #sidebar.sidebar-fixed {
	margin-top:0;
}
.shrink-header #wrapper #sidebar {
  padding-top: 0;
}