<body>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<%= render 'admin/navigation' %>
<div id="wrapper">
  <!-- #wrapper -->
  <%= render 'admin/sidebar' %>

  <!--Body content-->
  <div id="content" class="page-content clearfix">
    <div class="contentwrapper">
      <!--Content wrapper-->
      <div class="heading">
        <!--  .heading-->
        <h3>Profile</h3>
        <div class="resBtnSearch">
          <a href="#"><span class="s16 icomoon-icon-search-3"></span></a>
        </div>

        <ul class="breadcrumb">
          <li>You are here:</li>
          <li>
            <a href="#" class="tip" title="back to dashboard">
              <i class="s16 icomoon-icon-screen-2"></i>
            </a>
                                <span class="divider">
                <i class="s16 icomoon-icon-arrow-right-3"></i>
            </span>
          </li>
          <li class="active">Blank Page</li>
        </ul>
      </div>
      <!-- End  / heading-->
      <!-- Start .row -->
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <!-- col-lg-4 start here -->
          <div class="panel panel-default">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Profile details</h4>
            </div>
            <div class="panel-body">
              <div class="row profile">
                <!-- Start .row -->
                <div class="col-md-4">
                  <div class="profile-avatar">
                    <%= image_tag "avatars/128.jpg" %>
                    <p class="mt10">
                      Online
                                                    <span class="device">
                                    <i class="fa fa-mobile s16"></i>
                                </span>
                    </p>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="profile-name">
                    <h3><%= @lender.name %></h3>
                    <p class="job-title mb0"><i class="fa fa-building"></i> Lender in Power Credit</p>
                    <p class="balance">
                      IPA Total: <span>146$</span>
                    </p>

                  </div>
                </div>
                <div class="col-md-12">
                  <div class="contact-info bt">
                    <div class="row">
                      <!-- Start .row -->
                      <div class="col-md-4">
                        <dl class="mt20">
                          <dt class="text-muted">ID Number</dt>
                          <dd><%= @lender.id %></dd>
                          <dt class="text-muted">Device</dt>
                          <dd><%= @lender.device_type %></dd>
                          <dt class="text-muted">License No</dt>
                          <dd><%= @lender.lic_no %></dd>
                          <dt class="text-muted">Opening Day Time</dt>
                          <dd><%= @lender.day_from %> <%= @lender.time_from %> </dd>
                          <dt class="text-muted">Post Code </dt>
                          <dd><%= @lender.zip %> </dd>
                          <dt class="text-muted">Status </dt>
                          <dd><%= @lender.status %> </dd>
                        </dl>
                      </div>
                      <div class="col-md-8">
                        <dl class="mt20">
                          <dt class="text-muted">Phone</dt>
                          <dd><%= @lender.phone %></dd>
                          <dt class="text-muted">Email</dt>
                          <dd><%= @lender.email %></dd>
                          <dt class="text-muted">Biz Reg Number</dt>
                          <dd><%= @lender.biz_reg_no %></dd>
                          <dt class="text-muted">Adress</dt>
                          <dd><%= @lender.address %></dd>
                          <dt class="text-muted">Country </dt>
                          <dd><%= @lender.country %> </dd>

                        </dl>
                      </div>
                    </div>
                    <!-- End .row -->
                  </div>
                </div>

              </div>
              <!-- End .row -->
            </div>
          </div>
          <!-- End .panel -->

          <!-- End .panel -->
        </div>
        <!-- col-lg-4 end here -->
        <div class="col-lg-6 col-md-6 col-sm-12">
          <!-- col-lg-4 start here -->
          <div class="tabs mb20">
            <ul id="profileTab" class="nav nav-tabs">
              <li><a href="#overview" data-toggle="tab">Overview</a>
              </li>
              <li class="">
                <a href="#edit-profile" data-toggle="tab">Edit</a>
              </li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="overview">
                <h5>Activity feed</h5>
                <ul class="timeline timeline-icons">
                  <li>
                    <p>
                      <a href="#">Jonathan Smith</a> attached new <a href="#">file</a>
                      <span class="timeline-icon"><i class="fa fa-file-text-o"></i></span>
                      <span class="timeline-date">Dec 10, 22:00</span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <a href="#">Jonathan Smith</a> make <a href="#">3 comments</a>
                      <span class="timeline-icon"><i class="fa fa-comment"></i></span>
                      <span class="timeline-date">Dec 8, 13:35</span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <a href="#">Jonathan Smith</a> deposit 300$
                      <span class="timeline-icon"><i class="fa fa-money color-green"></i></span>
                      <span class="timeline-date">Dec 6, 10:17</span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <a href="#">Jonathan Smith</a> purchase <a href="#">3 items</a>
                      <span class="timeline-icon"><i class="fa fa-shopping-cart color-red"></i></span>
                      <span class="timeline-date">Dec 5, 04:36</span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <a href="#">1 support </a> request is received from <a href="#">Jonathan Smith</a>
                      <span class="timeline-icon"><i class="fa fa-life-ring color-gray-light"></i></span>
                      <span class="timeline-date">Dec 4, 18:40</span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <a href="#">12 settings </a> are changed from <a href="#">Jonathan Smith</a>
                      <span class="timeline-icon"><i class="glyphicon glyphicon-cog"></i></span>
                      <span class="timeline-date">Dec 3, 23:17</span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <a href="#">Jonathan Smith</a> change your photo
                      <span class="timeline-icon"><i class="icomoon-icon-image-2"></i></span>
                      <span class="timeline-date">Dec 2, 05:17</span>
                    </p>
                  </li>
                </ul>
                <a href="#" class="btn btn-default timeline-load-more-btn"><i class="fa fa-refresh"></i> Load more </a>
              </div>
              <div class="tab-pane fade pb0" id="edit-profile">
                <form class="form-horizontal group-border stripped" action="/lenders_update" role="form">
                  <div class="form-group" hidden>
                    <label class="col-lg-3 control-label" for="">ID Number</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="idno" name="user[id]" value="<%= @lender.id %>">
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">Name</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="lastname" name="user[name]" value="<%= @lender.name %>">
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">Phone</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="phone" name="user[phone]" value="<%= @lender.phone %>">
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">Email</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="Email" name="user[email]" value="<%= @lender.email %>" >
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">Device</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="device" name="user[device_type]" value="<%= @lender.device_type %>">
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">License Number</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="License" name="user[lic_no]" value="<%= @lender.lic_no %>" >
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">Biz Reg Number</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="Biz" name="user[biz_reg_no]" value="<%= @lender.biz_reg_no %>" >
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">Opening Day</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="day" name="user[day_from]" value="<%= @lender.day_from %>" >
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">Opening Time</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="day" name="user[time_from]" value="<%= @lender.time_from %>" >
                    </div>
                  </div>
                  <!-- End .form-group  -->

                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">Adress</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="address" name="user[address]" value="<%= @lender.address %>" >
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">Post Code</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="Post Code" name="user[zip]" value="<%= @lender.zip %>" >
                    </div>
                  </div>
                  <!-- End .form-group  -->

                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">country</label>
                    <div class="col-lg-9">
                      <select class="fancy-select form-control">
                        <option value="1">Singapore</option>
                        <option value="2">option 2</option>
                      </select>
                    </div>
                  </div>
                  <!-- End .form-group  -->

                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="">Status</label>
                    <div class="col-lg-9">
                      <div class="toggle-custom wd-set">
                        <label data-off="Inactive" data-on="Active" class="toggle">
                          <input type="checkbox" checked="<%= '1' if @lender.status %>" name="user[status]" id="checkbox-toggle">
                          <span class="button-checkbox"></span>
                        </label>
                        <!--<label for="checkbox-toggle">Checked</label>-->
                      </div>
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group form-group-vertical">
                    <label class="col-lg-3 control-label" for="">Change password</label>
                    <div class="col-lg-9">
                      <input type="password" class="form-control" id="password" name="user[password]" value="<%= @lender.password %>">
                      <!--<input type="password" class="form-control" id="password1" name="password1" placeholder="Repeat your password">-->
                    </div>
                  </div>
                  <!-- End .form-group  -->
                  <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                      <button class="btn btn-primary" type="subimt">Make change</button>
                    </div>
                  </div>
                  <!-- End .form-group  -->
                </form>
              </div>
            </div>
          </div>
          <!-- End .tabs -->
        </div>
        <!-- col-lg-4 end here -->

      </div>
      <!-- End .row -->
    </div>
    <!-- End contentwrapper -->
  </div>
  <!-- End #content -->
  <div id="footer" class="clearfix sidebar-page">
    <!-- Start #footer  -->
    <p class="pull-left">
      Copyrights &copy; 2015 <a href="javascript:void(0);" class="color-blue strong" target="_blank">Cashmi</a> by The Bam Method Limited. All rights reserved.
    </p>
    <p class="pull-right">
      <a href="#" class="mr5">Terms of use</a>
      |
      <a href="#" class="ml5 mr25">Privacy police</a>
    </p>
  </div>
  <!-- End #footer  -->
</div>
<!-- / #wrapper -->
<!-- Back to top -->
<div id="back-to-top"><a href="#">Back to Top</a>
</div>
  <div id="footer" class="clearfix sidebar-page">
    <!-- Start #footer  -->
    <p class="pull-left">
      Copyrights &copy; 2015 <a href="javascript:void(0);" class="color-blue strong" target="_blank">Cashmi</a> by The Bam Method Limited. All rights reserved.
    </p>
    <p class="pull-right">
      <a href="#" class="mr5">Terms of use</a>
      |
      <a href="#" class="ml5 mr25">Privacy police</a>
    </p>
  </div>
  <!-- End #footer  -->
</div>
<!-- / #wrapper -->
<!-- Back to top -->
<div id="back-to-top"><a href="#">Back to Top</a>
</div>

<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script>
function initialize() {
var myLatlng = new google.maps.LatLng(1.27996579, 103.85057896);
var myLatlng = new google.maps.LatLng(1.2872702, 103.84589914);
var mapOptions = {
zoom: 14,
center: myLatlng
}
var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

var marker = new google.maps.Marker({
position: myLatlng,
map: map,
title: 'Hello World!'
});
infowindow = new google.maps.InfoWindow({content:"<b>license number</b><br/>Singapore" });
google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});


}

google.maps.event.addDomListener(window, 'load', initialize);

</script>-->

<script>
    jQuery(function($) {
        // Asynchronously Load the map API
        var script = document.createElement('script');
        script.src = "http://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
        document.body.appendChild(script);
    });

    function initialize() {
        var map;
        var bounds = new google.maps.LatLngBounds();
        var mapOptions = {
            mapTypeId: 'roadmap'
        };

        // Display a map on the page
        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        map.setTilt(45);

        // Multiple Markers
        var markers = [
            ['Singapore', 1.27996579, 103.85057896],
            ['Singapore', 1.28559693, 103.84452585],
            ['New Bridge, Singapore', 1.27985442, 103.83962989]
        ];

        // Info Window Content
        var infoWindowContent = [
            ['<div class="info_content">' +
            '<h3>000-000-000</h3>' +
            '<p>Lorem Ipsum is simply<br> dummy text </p>' +        '</div>'],
            ['<div class="info_content">' +
            '<h3>000-000-000</h3>' +
            '<p>Lorem Ipsum is simply<br> dummy text </p>' +        '</div>'],
            ['<div class="info_content">' +
            '<h3>000-000-000</h3>' +
            '<p>Lorem Ipsum is simply<br> dummy text </p>' +
            '</div>']
        ];

        // Display multiple markers on a map
        var infoWindow = new google.maps.InfoWindow(), marker, i;

        // Loop through our array of markers & place each one on the map
        for( i = 0; i < markers.length; i++ ) {
            var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
            bounds.extend(position);
            marker = new google.maps.Marker({
                position: position,
                map: map,
                title: markers[i][0]
            });

            // Allow each marker to have an info window
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infoWindow.setContent(infoWindowContent[i][0]);
                    infoWindow.open(map, marker);
                }
            })(marker, i));

            // Automatically center the map fitting all markers on the screen
            map.fitBounds(bounds);
        }

        // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
        var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
            this.setZoom(14);
            google.maps.event.removeListener(boundsListener);
        });

    }

</script>

</body>